Repository woowacourse-teams/2024-friendogly, pull requests merged in 2024-09, with the labels that each got.

#544 [AN] 발자국 등록 한국에서만 가능하게 하는 기능 추가
  android/app/src/main/java/com/happy/friendogly/firebase/analytics/Types.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofAlertActions.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofChangeTrackingModeActions.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofTrackingModeActions.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/uimodel/RegisterFootprintBtnUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/utils/AnalyticsHelperExtensions.kt
  android/app/src/main/res/layout/activity_register_pet.xml
  android/app/src/main/res/layout/fragment_woof.xml
  android/app/src/main/res/values/strings.xml
Labels: 🛠️ refactor, 🤖 android, ✨ feat

#550 [AN] feat: 채팅 & 권한 이벤트 로깅 구현
  android/app/src/main/java/com/happy/friendogly/firebase/analytics/Types.kt
  android/app/src/main/java/com/happy/friendogly/presentation/alarm/AlarmReceiver.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chat/ChatActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chatinfo/ChatInfoSideSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/permission/AlarmPermission.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/permission/LocationPermission.kt
  android/app/src/main/java/com/happy/friendogly/presentation/utils/AnalyticsHelperExtensions.kt
Labels: 🤖 android, ✨ feat

#547 [AN] test: ProfileSettingViewmodel 테스트
  android/app/src/test/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingViewModelTest.kt
Labels: 🔎 test, 🤖 android

#548 [AN] test: MyPageViewModel 테스트
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageViewModel.kt
  android/app/src/main/res/layout/item_pet_profile.xml
  android/app/src/test/java/com/happy/friendogly/presentation/ui/mypage/MyPageViewModelTest.kt
Labels: 🔎 test, 🤖 android

#535 [BE] 모임 필터 리스트 정렬 추가
  backend/src/main/java/com/happy/friendogly/chat/controller/ChatRoomController.java
  backend/src/main/java/com/happy/friendogly/club/domain/Club.java
  backend/src/main/java/com/happy/friendogly/club/repository/ClubSpecification.java
  backend/src/test/java/com/happy/friendogly/club/service/ClubQueryServiceTest.java
Labels: 🖥 backend, ✨ feat

#531 [BE] fix: 회원 탈퇴시 발자국 외래키 제약조건으로 인해 탈퇴하지 못하는 현상 수정
  backend/src/main/java/com/happy/friendogly/footprint/repository/FootprintRepository.java
  backend/src/main/java/com/happy/friendogly/member/service/MemberCommandService.java
Labels: 🐞 bug, 🖥 backend

#527 [BE] fix: 채팅 알림 기기 토큰 관련 예외 처리 추가, 자신에게는 채팅 알림을 전송하지 않도록 변경
  backend/src/main/java/com/happy/friendogly/notification/repository/DeviceTokenRepository.java
  backend/src/main/java/com/happy/friendogly/notification/service/FcmNotificationService.java
  backend/src/test/java/com/happy/friendogly/notification/repository/DeviceTokenRepositoryTest.java
Labels: 🛠️ refactor, 🖥 backend

#553 [AN] fix: 서버에 FCM Token 저장되지 않는 버그
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterViewModel.kt
Labels: 🐞 bug, 🤖 android

#560 [BE] 멀티 데이터소스 설정 / dev 워크플로우 수정
  .github/workflows/backend-cd-workflow-dev.yml
  .github/workflows/backend-cd-workflow-prod.yml
  backend/src/main/java/com/happy/friendogly/config/datasource/DataSourceConfig.java
  backend/src/main/java/com/happy/friendogly/config/datasource/DataSourceType.java
  backend/src/main/java/com/happy/friendogly/config/datasource/ReplicationRoutingDataSource.java
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/com/happy/friendogly/DataSourceRoutingTest.java
  backend/src/test/resources/application-local.yml
Labels: 🧦 chore, 🖥 backend

#559 [AN] fix: 알림 및 데이터 저장 에러 대응
  android/app/src/main/java/com/happy/friendogly/presentation/alarm/AlarmReceiver.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chatinfo/ChatInfoSideSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chatinfo/ChatInfoViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingActivity.kt
  android/app/src/main/res/layout/fragment_chat_list.xml
Labels: 🐞 bug, 🤖 android

#580 [AN] 모임 리스트 테스트 작성
  android/app/src/test/java/com/happy/friendogly/presentation/ui/club/list/ClubListViewModelTest.kt
  android/app/src/test/java/com/happy/friendogly/utils/TextFixture.kt
Labels: 🔎 test, 🤖 android

#585 [AN] 산책 백그라운드 동작 서비스 구현
  .idea/workspace.xml
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/happy/friendogly/firebase/analytics/Types.kt
  android/app/src/main/java/com/happy/friendogly/presentation/alarm/AlarmReceiver.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/petimage/PetImageActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofMakeMarkerActions.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofTrackingModeActions.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/action/WoofActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/action/WoofAlertActions.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/action/WoofMapActions.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/action/WoofNavigateActions.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/action/WoofTrackingModeActions.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/adapter/PetDetailInfoAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/adapter/PetDetailInfoViewHolder.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/service/WoofWalkLocationManager.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/service/WoofWalkReceiver.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/service/WoofWalkService.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/state/WoofUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/util/WoofAnimation.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/util/WoofBindingAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/viewmodel/WoofViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/utils/AnalyticsHelperExtensions.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_pet_image.xml
  android/app/src/main/res/layout/fragment_woof.xml
  android/app/src/main/res/layout/item_footprint_info_pet_detail.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#555 [BE] feat: 채팅 DB 저장 구현
  backend/src/main/java/com/happy/friendogly/chat/controller/ChatMessageController.java
  backend/src/main/java/com/happy/friendogly/chat/controller/ChatRoomController.java
  backend/src/main/java/com/happy/friendogly/chat/controller/ChatSocketController.java
  backend/src/main/java/com/happy/friendogly/chat/domain/ChatMessage.java
  backend/src/main/java/com/happy/friendogly/chat/dto/request/ChatMessageRequest.java
  backend/src/main/java/com/happy/friendogly/chat/dto/request/ChatMessageSocketRequest.java
  backend/src/main/java/com/happy/friendogly/chat/dto/request/FindMessagesByTimeRangeRequest.java
  backend/src/main/java/com/happy/friendogly/chat/dto/response/ChatMessageSocketResponse.java
  backend/src/main/java/com/happy/friendogly/chat/dto/response/EnterChatRoomResponse.java
  backend/src/main/java/com/happy/friendogly/chat/dto/response/FindChatMessagesResponse.java
  backend/src/main/java/com/happy/friendogly/chat/repository/ChatMessageRepository.java
  backend/src/main/java/com/happy/friendogly/chat/service/ChatCommandService.java
  backend/src/main/java/com/happy/friendogly/chat/service/ChatQueryService.java
  backend/src/main/java/com/happy/friendogly/chat/service/ChatRoomCommandService.java
  backend/src/main/java/com/happy/friendogly/chat/service/ChatService.java
  backend/src/main/java/com/happy/friendogly/club/service/ClubCommandService.java
  backend/src/main/java/com/happy/friendogly/notification/service/FakeNotificationService.java
  backend/src/main/java/com/happy/friendogly/notification/service/FcmNotificationService.java
  backend/src/main/java/com/happy/friendogly/notification/service/NotificationService.java
  backend/src/test/java/com/happy/friendogly/chat/controller/ChatMessageControllerTest.java
  backend/src/test/java/com/happy/friendogly/chat/service/ChatCommandServiceTest.java
  backend/src/test/java/com/happy/friendogly/chat/service/ChatQueryServiceTest.java
  backend/src/test/java/com/happy/friendogly/chat/service/ChatRoomCommandServiceTest.java
  backend/src/test/java/com/happy/friendogly/chat/service/ChatRoomServiceTest.java
  backend/src/test/java/com/happy/friendogly/docs/ChatMessageApiDocsTest.java
  backend/src/test/java/com/happy/friendogly/docs/ChatRoomApiDocsTest.java
  backend/src/test/java/com/happy/friendogly/support/ServiceTest.java
Labels: 🖥 backend

#594 [ALL] chore: Issue 및 PR 생성 템플릿을 간결하게 변경
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/이슈-생성-템플릿.md
  .github/pull_request_template.md
Labels: ⚙️ setting

#591 [BE] chore: dev 환경의 데이터가 drop되지 않고 파일로 저장되도록 변경
  backend/src/main/resources/application-dev.yml
Labels: ⚙️ setting, 🖥 backend

#592 [BE] fix: 채팅 알림을 전송할 때 받는 사람의 기기 토큰이 비어 있어도 예외가 발생하지 않도록 수정
  backend/src/main/java/com/happy/friendogly/notification/service/FcmNotificationService.java
Labels: 🐞 bug, 🖥 backend
