Repository woowacourse-teams/2024-friendogly, pull requests merged in 2024-10, with the labels that each got.

#599 모임 상세 테스트 작성
  android/app/src/test/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailViewModelTest.kt
  android/app/src/test/java/com/happy/friendogly/presentation/ui/club/list/ClubListViewModelTest.kt
  android/app/src/test/java/com/happy/friendogly/utils/TestFixture.kt
  android/app/src/test/java/com/happy/friendogly/utils/TextFixture.kt
Labels: 🔎 test, 🤖 android

#601 모임 에러 핸들링
  android/app/src/main/java/com/happy/friendogly/data/error/DataErrorHandler.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/ClubRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/MyClubRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/ClubRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/MyClubRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/DeleteClubMemberUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetClubUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetMyClubUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetMyHeadClubUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetSearchingClubsUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/PatchClubUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/PostClubUseCase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/ClubErrorHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/ClubMessageHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/menu/ClubMenuBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/menu/ClubMenuEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/menu/ClubMenuViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/modify/ClubModifyActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/modify/ClubModifyEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/modify/ClubModifyViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/MyClubActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/MyClubViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/head/MyHeadClubFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/head/MyHeadClubViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/participating/MyParticipatingClubViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/participating/MyParticipatingFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/select/PetSelectBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/select/PetSelectEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/select/PetSelectViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/ClubDataSourceImpl.kt
  android/app/src/test/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailViewModelTest.kt
  android/app/src/test/java/com/happy/friendogly/presentation/ui/club/list/ClubListViewModelTest.kt
Labels: 🛠️ refactor, 🤖 android

#597 놀이터 도메인 생성 및 Mock API 구현
  backend/src/main/java/com/happy/friendogly/playground/controller/PlaygroundController.java
  backend/src/main/java/com/happy/friendogly/playground/domain/Location.java
  backend/src/main/java/com/happy/friendogly/playground/domain/Playground.java
  backend/src/main/java/com/happy/friendogly/playground/domain/PlaygroundMember.java
  backend/src/main/java/com/happy/friendogly/playground/dto/request/SavePlaygroundRequest.java
  backend/src/main/java/com/happy/friendogly/playground/dto/request/UpdatePlaygroundArrivalRequest.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/FindPlaygroundDetailResponse.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/FindPlaygroundLocationResponse.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/FindPlaygroundSummaryResponse.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/SavePlaygroundResponse.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/UpdatePlaygroundArrivalResponse.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/detail/PlaygroundPetDetail.java
  backend/src/main/java/com/happy/friendogly/playground/repository/PlaygroundMemberRepository.java
  backend/src/main/java/com/happy/friendogly/playground/repository/PlaygroundRepository.java
  backend/src/main/java/com/happy/friendogly/playground/service/PlaygroundCommandService.java
  backend/src/main/java/com/happy/friendogly/playground/service/PlaygroundQueryService.java
  backend/src/test/java/com/happy/friendogly/docs/PlaygroundApiDocsTest.java
Labels: 🖥 backend

#604 [BE] fix: GlobalExceptionHandler 에러 메시지 수정 및 raw type 제거
  backend/src/main/java/com/happy/friendogly/GlobalExceptionHandler.java
  backend/src/main/java/com/happy/friendogly/common/ErrorCode.java
Labels: 🛠️ refactor, 🖥 backend

#606 [BE] refactor: pet 도메인 지연 로딩 설정 및 N+1 문제 해결
  backend/src/main/java/com/happy/friendogly/pet/domain/Pet.java
  backend/src/main/java/com/happy/friendogly/pet/repository/PetRepository.java
  backend/src/main/java/com/happy/friendogly/pet/service/PetQueryService.java
  backend/src/test/java/com/happy/friendogly/pet/service/PetQueryServiceTest.java
Labels: 🛠️ refactor, 🖥 backend

#607 [BE] feat: 놀이터 상세 조회 API 구현
  backend/src/main/java/com/happy/friendogly/playground/controller/PlaygroundController.java
  backend/src/main/java/com/happy/friendogly/playground/domain/Playground.java
  backend/src/main/java/com/happy/friendogly/playground/domain/PlaygroundMember.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/FindPlaygroundDetailResponse.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/FindPlaygroundLocationResponse.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/SavePlaygroundResponse.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/detail/PlaygroundPetDetail.java
  backend/src/main/java/com/happy/friendogly/playground/repository/PlaygroundMemberRepository.java
  backend/src/main/java/com/happy/friendogly/playground/repository/PlaygroundRepository.java
  backend/src/main/java/com/happy/friendogly/playground/service/PlaygroundCommandService.java
  backend/src/main/java/com/happy/friendogly/playground/service/PlaygroundQueryService.java
  backend/src/main/java/com/happy/friendogly/utils/GeoCalculator.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/happy/friendogly/docs/PlaygroundApiDocsTest.java
  backend/src/test/java/com/happy/friendogly/playground/repository/PlaygroundRepositoryTest.java
  backend/src/test/java/com/happy/friendogly/playground/service/PlaygroundCommandServiceTest.java
  backend/src/test/java/com/happy/friendogly/playground/service/PlaygroundQueryServiceTest.java
  backend/src/test/java/com/happy/friendogly/playground/service/PlaygroundServiceTest.java
  backend/src/test/java/com/happy/friendogly/support/ServiceTest.java
  backend/src/test/java/com/happy/friendogly/utils/GeoCalculatorTest.java
Labels: 🖥 backend

#615 [BE] fix: 채팅방을 나가고 모임을 나가면 예외가 발생하던 버그 수정
  backend/src/main/java/com/happy/friendogly/chat/domain/ChatRoom.java
  backend/src/test/java/com/happy/friendogly/chat/service/ChatRoomCommandServiceTest.java
Labels: 🖥 backend

#634 [AN] 모임 UI 피드백 개선
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/bottom/ClubRecruitmentBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/modify/ClubModifyActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/modify/ClubModifyBindingAdapters.kt
  android/app/src/main/res/layout/activity_club_detail.xml
  android/app/src/main/res/layout/fragment_club_add_filter.xml
  android/app/src/main/res/layout/item_club.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailViewModelTest.kt
Labels: 🛠️ refactor, 🤖 android

#605 [BE] fix: .jpg 이외의 이미지도 업로드할 수 있게 수정
  backend/src/main/java/com/happy/friendogly/infra/S3StorageManager.java
Labels: 🛠️ refactor, 🖥 backend

#618 [BE] feat: 놀이터 등록, 전체 놀이터 위치 조회 API 구현
  backend/src/main/java/com/happy/friendogly/pet/controller/PetController.java
  backend/src/main/java/com/happy/friendogly/pet/dto/response/FindPetExistenceResponse.java
  backend/src/main/java/com/happy/friendogly/pet/service/PetQueryService.java
  backend/src/main/java/com/happy/friendogly/playground/domain/Location.java
  backend/src/main/java/com/happy/friendogly/playground/domain/PlaygroundMember.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/FindPlaygroundLocationResponse.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/FindPlaygroundSummaryResponse.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/SavePlaygroundResponse.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/detail/PlaygroundPetDetail.java
  backend/src/main/java/com/happy/friendogly/playground/repository/PlaygroundMemberRepository.java
  backend/src/main/java/com/happy/friendogly/playground/service/PlaygroundCommandService.java
  backend/src/main/java/com/happy/friendogly/playground/service/PlaygroundQueryService.java
  backend/src/main/java/com/happy/friendogly/utils/GeoCalculator.java
  backend/src/test/java/com/happy/friendogly/docs/PetApiDocsTest.java
  backend/src/test/java/com/happy/friendogly/docs/PlaygroundApiDocsTest.java
  backend/src/test/java/com/happy/friendogly/pet/service/PetQueryServiceTest.java
  backend/src/test/java/com/happy/friendogly/playground/repository/PlaygroundRepositoryTest.java
  backend/src/test/java/com/happy/friendogly/playground/service/PlaygroundCommandServiceTest.java
  backend/src/test/java/com/happy/friendogly/playground/service/PlaygroundQueryServiceTest.java
Labels: 🖥 backend

#624 [AN] feat: 최근 본 반려동물
  android/app/src/androidTest/java/com/happy/friendogly/ChatMessageDatabaseTest.kt
  android/app/src/androidTest/java/com/happy/friendogly/RecentPetsDatabaseTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/happy/friendogly/application/di/DataSourceModule.kt
  android/app/src/main/java/com/happy/friendogly/application/di/RepositoryModule.kt
  android/app/src/main/java/com/happy/friendogly/application/di/RoomModule.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/MessageMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/RecentPetDtoMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/model/RecentPetDto.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/ChatMessageRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/RecentPetsRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/RecentPetsDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/RecentPet.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/RecentPetsRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetAllRecentPetUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetRecentPetByIdUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/InsertRecentPetUseCase.kt
  android/app/src/main/java/com/happy/friendogly/local/dao/ChatMessageDao.kt
  android/app/src/main/java/com/happy/friendogly/local/dao/RecentPetsDao.kt
  android/app/src/main/java/com/happy/friendogly/local/mapper/GenderEntityMapper.kt
  android/app/src/main/java/com/happy/friendogly/local/mapper/LocalDateConverter.kt
  android/app/src/main/java/com/happy/friendogly/local/mapper/MessageEntityMapper.kt
  android/app/src/main/java/com/happy/friendogly/local/mapper/MessageTypeConverter.kt
  android/app/src/main/java/com/happy/friendogly/local/mapper/RecentPetEntityMapper.kt
  android/app/src/main/java/com/happy/friendogly/local/mapper/SizeTypeEntityMapper.kt
  android/app/src/main/java/com/happy/friendogly/local/model/ChatMessageEntity.kt
  android/app/src/main/java/com/happy/friendogly/local/model/GenderEntity.kt
  android/app/src/main/java/com/happy/friendogly/local/model/MessageTypeEntity.kt
  android/app/src/main/java/com/happy/friendogly/local/model/RecentPetEntity.kt
  android/app/src/main/java/com/happy/friendogly/local/model/SizeTypeEntity.kt
  android/app/src/main/java/com/happy/friendogly/local/room/ChatMessageDatabase.kt
  android/app/src/main/java/com/happy/friendogly/local/room/RecentPetsDatabase.kt
  android/app/src/main/java/com/happy/friendogly/local/source/RecentPetsDataSourceImpl.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivityActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageNavigationAction.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/recentpet/RecentPetActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/recentpet/RecentPetActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/recentpet/RecentPetBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/recentpet/RecentPetNavigationAction.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/recentpet/RecentPetUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/recentpet/RecentPetViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/recentpet/adapter/RecentPetAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/recentpet/adapter/RecentPetListSource.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/GenderDtoMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/SizeTypeDtoMapper.kt
  android/app/src/main/res/drawable/ic_calander.xml
  android/app/src/main/res/drawable/ic_recent_pet_dot.xml
  android/app/src/main/res/drawable/shape_gray100_fill.xml
  android/app/src/main/res/drawable/shape_gray100_fill_all_radius_16.xml
  android/app/src/main/res/drawable/shape_gray100_fill_bottom_radius_16.xml
  android/app/src/main/res/drawable/shape_gray100_fill_top_radius_16.xml
  android/app/src/main/res/layout/activity_recent_pet.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/include_empty.xml
  android/app/src/main/res/layout/item_recent_pet.xml
  android/app/src/main/res/layout/item_recent_pet_date.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#635 [AN] v0.4.1 QA 유저 관련 이슈
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/bottom/EditPetBirthdayBottomSheet.kt
  android/app/src/main/res/layout/activity_other_profile.xml
  android/app/src/main/res/values/strings.xml
Labels: 🐞 bug, 🤖 android

#645 [AN] 필터 & 모임 등록 UI 피드백 개선
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/filter/ClubAddFilterFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/filter/ClubFilterActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/filter/ClubFilterEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/filter/ClubFilterViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/filter/bottom/ClubFilterBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/filter/bottom/ParticipationFilterBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/select/PetSelectBottomSheet.kt
  android/app/src/main/res/layout/bottom_sheet_dog_selector.xml
  android/app/src/main/res/layout/bottom_sheet_filter_size_selector.xml
  android/app/src/main/res/layout/bottom_sheet_gender_filter_selector.xml
  android/app/src/main/res/layout/bottom_sheet_participation_filter_selector.xml
  android/app/src/main/res/layout/fragment_club_add_filter.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: 🤹 enhance, 🤖 android

#629 [BE] feat: 강퇴 API 구현
  backend/src/main/java/com/happy/friendogly/club/controller/ClubController.java
  backend/src/main/java/com/happy/friendogly/club/dto/request/DeleteKickedMemberRequest.java
  backend/src/main/java/com/happy/friendogly/club/service/ClubCommandService.java
  backend/src/test/java/com/happy/friendogly/club/service/ClubCommandServiceTest.java
  backend/src/test/java/com/happy/friendogly/docs/ClubApiDocsTest.java
  backend/src/test/java/com/happy/friendogly/support/ServiceTest.java
Labels: 🖥 backend

#643 [BE] fix: 이미지 용량 제한을 5MB로 설정
  backend/src/main/java/com/happy/friendogly/infra/S3StorageManager.java
  backend/src/main/resources/application.yml
Labels: 🤹 enhance, 🛠️ refactor, 🖥 backend

#653 [BE] 모임 최대 인원 요구사항 변경 반영
  backend/src/main/java/com/happy/friendogly/chat/domain/MemberCapacity.java
  backend/src/main/java/com/happy/friendogly/club/domain/MemberCapacity.java
  backend/src/main/java/com/happy/friendogly/club/dto/request/SaveClubRequest.java
  backend/src/test/java/com/happy/friendogly/club/domain/MemberCapacityTest.java
Labels: 🖥 backend

#661 [AN] refactor: 모임 상세 로딩 구현
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/mapper/ClubDetailMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/model/ClubDetailUiModel.kt
  android/app/src/main/res/layout/activity_club_detail.xml
  android/app/src/main/res/layout/include_skeleton_club_detail.xml
Labels: 🛠️ refactor, 🤖 android

#640 [AN] feat: 앱 이미지 저장 최적화
  android/app/src/main/java/com/happy/friendogly/presentation/utils/BitmapUtil.kt
Labels: 🤹 enhance, 🤖 android, ✨ feat

#654 [AN] test: OtherProfileViewModel 테스트
  android/app/src/androidTest/java/com/happy/friendogly/RecentPetsDatabaseTest.kt
  android/app/src/test/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileViewModelTest.kt
Labels: 🔎 test, 🤖 android

#656 [AN] test: SettingViewModel 테스트
  android/app/src/test/java/com/happy/friendogly/presentation/ui/setting/SettingViewModelTest.kt
Labels: 🔎 test, 🤖 android

#657 [AN] test: RecentPetViewModel 테스트
  android/app/src/test/java/com/happy/friendogly/presentation/ui/recentpet/RecentPetViewModelTest.kt
Labels: 🔎 test, 🤖 android

#655 [AN] test: RegisterPetViewModel 테스트
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetViewModel.kt
  android/app/src/main/res/layout/activity_register_pet.xml
  android/app/src/test/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetViewModelTest.kt
Labels: 🔎 test, 🤖 android

#671 [AN] feat: 내 방장/참여 모임 로딩 구현
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/MyClubUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/head/MyHeadClubFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/head/MyHeadClubViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/participating/MyParticipatingClubViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/participating/MyParticipatingFragment.kt
  android/app/src/main/res/layout/fragment_my_club.xml
  android/app/src/main/res/layout/include_skeleton_item_club.xml
  android/app/src/main/res/layout/include_skeleton_my_club.xml
Labels: 🤹 enhance, 🤖 android

#669 [AN] fix : 모임 3차 요구사항 개선
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/model/ClubCounter.kt
  android/app/src/main/res/drawable/ic_club_add_button.png
  android/app/src/main/res/drawable/ic_club_add_button.xml
  android/app/src/main/res/layout/activity_my_club.xml
  android/app/src/main/res/layout/bottom_sheet_gender_filter_selector.xml
  android/app/src/main/res/layout/fragment_club_add_filter.xml
  android/app/src/main/res/layout/fragment_club_list.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤹 enhance, 🤖 android

#673 [AN] feat: dark mode 적용
  android/app/src/main/java/com/happy/friendogly/application/FriendoglyApplication.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/playground/PlaygroundFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/utils/ThemeUtil.kt
  android/app/src/main/res/values-night/colors.xml
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/colors.xml
Labels: 🤖 android, ✨ feat

#637 [BE] feat: 놀이터 참여하기
  backend/src/main/java/com/happy/friendogly/common/ErrorCode.java
  backend/src/main/java/com/happy/friendogly/playground/controller/PlaygroundController.java
  backend/src/main/java/com/happy/friendogly/playground/domain/Location.java
  backend/src/main/java/com/happy/friendogly/playground/domain/Playground.java
  backend/src/main/java/com/happy/friendogly/playground/domain/PlaygroundMember.java
  backend/src/main/java/com/happy/friendogly/playground/dto/request/UpdatePlaygroundMemberMessageRequest.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/FindPlaygroundSummaryResponse.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/SaveJoinPlaygroundMemberResponse.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/UpdatePlaygroundMemberMessageResponse.java
  backend/src/main/java/com/happy/friendogly/playground/repository/PlaygroundMemberRepository.java
  backend/src/main/java/com/happy/friendogly/playground/service/PlaygroundCommandService.java
  backend/src/main/java/com/happy/friendogly/playground/service/PlaygroundQueryService.java
  backend/src/test/java/com/happy/friendogly/docs/PlaygroundApiDocsTest.java
  backend/src/test/java/com/happy/friendogly/playground/service/PlaygroundCommandServiceTest.java
  backend/src/test/java/com/happy/friendogly/playground/service/PlaygroundQueryServiceTest.java
  backend/src/test/java/com/happy/friendogly/playground/service/PlaygroundServiceTest.java
Labels: 🖥 backend

#676 [AN] fix : 채팅 Ui 오류 수정
  android/app/src/main/java/com/happy/friendogly/data/repository/ChatMessageRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/Message.kt
  android/app/src/main/java/com/happy/friendogly/local/mapper/MessageEntityMapper.kt
  android/app/src/main/java/com/happy/friendogly/local/room/ChatMessageDatabase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/ChatListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chat/ChatActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chat/ChatViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ApiClient.kt
Labels: 🐞 bug, 🤖 android

#678 [BE] feat: 놀이터 자동 나가기, 알림구현
  backend/src/main/java/com/happy/friendogly/FriendoglyApplication.java
  backend/src/main/java/com/happy/friendogly/notification/domain/NotificationType.java
  backend/src/main/java/com/happy/friendogly/notification/service/FakeNotificationService.java
  backend/src/main/java/com/happy/friendogly/notification/service/FcmNotificationService.java
  backend/src/main/java/com/happy/friendogly/notification/service/NotificationService.java
  backend/src/main/java/com/happy/friendogly/notification/service/PlaygroundNotificationService.java
  backend/src/main/java/com/happy/friendogly/playground/domain/PlaygroundMember.java
  backend/src/main/java/com/happy/friendogly/playground/repository/PlaygroundMemberRepository.java
  backend/src/main/java/com/happy/friendogly/playground/repository/PlaygroundRepository.java
  backend/src/main/java/com/happy/friendogly/playground/service/PlaygroundCommandService.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/happy/friendogly/playground/repository/PlaygroundMemberRepositoryTest.java
  backend/src/test/java/com/happy/friendogly/playground/repository/PlaygroundRepositoryTest.java
  backend/src/test/java/com/happy/friendogly/playground/service/PlaygroundQueryServiceTest.java
  backend/src/test/java/com/happy/friendogly/playground/service/PlaygroundServiceTest.java
Labels: 🖥 backend

#684 fix: prod DB와 스키마 통일
  backend/src/main/java/com/happy/friendogly/club/domain/Content.java
Labels: 🐞 bug, 🖥 backend

#685 [BE] chore: prod 환경의 CD 스크립트 무중단배포 구축
  .github/workflows/backend-cd-workflow-prod.yml
Labels: 🖥 backend

#622 [BE] feat: Club 페이징 적용 및 batch size 설정
  backend/src/main/java/com/happy/friendogly/chat/dto/response/FindClubDetailsResponse.java
  backend/src/main/java/com/happy/friendogly/club/controller/ClubController.java
  backend/src/main/java/com/happy/friendogly/club/domain/Club.java
  backend/src/main/java/com/happy/friendogly/club/domain/ClubGender.java
  backend/src/main/java/com/happy/friendogly/club/domain/ClubGenderId.java
  backend/src/main/java/com/happy/friendogly/club/domain/ClubPet.java
  backend/src/main/java/com/happy/friendogly/club/domain/ClubSize.java
  backend/src/main/java/com/happy/friendogly/club/domain/ClubSizeId.java
  backend/src/main/java/com/happy/friendogly/club/dto/request/FindClubByFilterRequest.java
  backend/src/main/java/com/happy/friendogly/club/dto/response/FindClubByFilterResponse.java
  backend/src/main/java/com/happy/friendogly/club/dto/response/FindClubOwningResponse.java
  backend/src/main/java/com/happy/friendogly/club/dto/response/FindClubPageByFilterResponse.java
  backend/src/main/java/com/happy/friendogly/club/dto/response/FindClubParticipatingResponse.java
  backend/src/main/java/com/happy/friendogly/club/dto/response/FindClubResponse.java
  backend/src/main/java/com/happy/friendogly/club/dto/response/SaveClubResponse.java
  backend/src/main/java/com/happy/friendogly/club/repository/ClubRepository.java
  backend/src/main/java/com/happy/friendogly/club/repository/ClubSpecification.java
  backend/src/main/java/com/happy/friendogly/club/service/ClubQueryService.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/data.sql
  backend/src/test/java/com/happy/friendogly/club/service/ClubQueryServiceTest.java
  backend/src/test/java/com/happy/friendogly/docs/ClubApiDocsTest.java
  backend/src/test/resources/application-local.yml
Labels: 🤹 enhance, 🛠️ refactor, 🖥 backend, ✨ feat

#695 [BE] fix: 참여 가능 모임 조회 시 무한 루프 현상 수정
  backend/src/main/java/com/happy/friendogly/club/service/ClubQueryService.java
  backend/src/test/java/com/happy/friendogly/club/service/ClubQueryServiceTest.java
Labels: 🐞 bug, 🖥 backend

#700 [BE] hotfix: 채팅 API 삭제로 인해 버그 발생하던 문제 해결
  backend/src/main/java/com/happy/friendogly/chat/controller/ChatSocketController.java
Labels: 🖥 backend

#705 [BE] 모임 예외 처리 추가
  backend/src/main/java/com/happy/friendogly/club/domain/Club.java
  backend/src/main/java/com/happy/friendogly/club/domain/Status.java
  backend/src/test/java/com/happy/friendogly/club/domain/ClubTest.java
  backend/src/test/java/com/happy/friendogly/club/service/ClubCommandServiceTest.java
Labels: 🐞 bug, 🖥 backend

#698 [AN] feat: 모임 Paging & 로딩 구현
  android/app/src/main/java/com/happy/friendogly/application/di/RepositoryModule.kt
  android/app/src/main/java/com/happy/friendogly/application/di/ServiceModule.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/ClubMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/SearchClubMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/model/SearchClubPageInfoDto.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/ClubRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/SearchClubRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/ClubDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/SearchClubPageInfo.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/ClubRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/SearchClubRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetSearchingClubsUseCase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/mapper/ClubMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/adapter/club/ClubListAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/adapter/club/ClubViewHolder.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/adapter/MyClubListAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/head/MyHeadClubFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/participating/MyParticipatingFragment.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ClubService.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/SearchingClubService.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/SearchingClubResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/paging/SearchingClubPagingSource.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/ClubDataSourceImpl.kt
  android/app/src/main/res/drawable/rect_gray03_fill_8.xml
  android/app/src/main/res/layout/fragment_club_list.xml
  android/app/src/main/res/layout/fragment_my_club.xml
  android/app/src/main/res/layout/include_skeleton_club_list.xml
  android/app/src/main/res/layout/include_skeleton_item_club.xml
  android/app/src/main/res/layout/include_skeleton_my_club.xml
  android/app/src/test/java/com/happy/friendogly/presentation/ui/club/list/ClubListViewModelTest.kt
  android/app/src/test/java/com/happy/friendogly/utils/FlowExtension.kt
Labels: 🤹 enhance, 🤖 android

#710 [BE] fix: 정원이 가득 찬 모임 상태를 OPEN으로 변경 가능한 현상 수정
  backend/src/main/java/com/happy/friendogly/club/domain/Club.java
Labels: 🐞 bug, 🖥 backend

#708 [AN] refactor : 모임 요구사항 4차 적용
  android/app/src/main/java/com/happy/friendogly/data/error/ApiExceptionDto.kt
  android/app/src/main/java/com/happy/friendogly/data/error/ErrorCodeDto.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/ErrorMapper.kt
  android/app/src/main/java/com/happy/friendogly/domain/error/DataError.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/ClubErrorHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/ClubMessageHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/menu/ClubMenuBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/modify/ClubModifyBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingActivity.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/ClubDataSourceImpl.kt
  android/app/src/main/res/layout/activity_club_detail.xml
  android/app/src/main/res/layout/activity_club_modify.xml
  android/app/src/main/res/layout/fragment_club_add_detail.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤹 enhance, 🤖 android

#677 [AN] feat: 채팅 그룹 알림 구현
  android/app/src/main/java/com/happy/friendogly/presentation/alarm/AlarmReceiver.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ApiClient.kt
  android/app/src/main/res/drawable/ic_normal_profile.xml
Labels: 🤖 android, ✨ feat

#712 [AN] fix: 로딩 수정
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListFragment.kt
Labels: 🐞 bug, 🤖 android

#630 [BE] fix: 외부 메시지 큐(RabbitMQ) 도입, 분산 환경 채팅 안 되던 버그 수정
  backend/build.gradle
  backend/src/main/java/com/happy/friendogly/chat/config/ChatTemplate.java
  backend/src/main/java/com/happy/friendogly/chat/config/InMemoryChatTemplate.java
  backend/src/main/java/com/happy/friendogly/chat/config/RabbitChatTemplate.java
  backend/src/main/java/com/happy/friendogly/chat/controller/ChatSocketController.java
  backend/src/main/java/com/happy/friendogly/chat/service/ChatCommandService.java
  backend/src/main/java/com/happy/friendogly/config/RabbitMqConfig.java
  backend/src/main/java/com/happy/friendogly/config/WebSocketInterceptor.java
  backend/src/main/java/com/happy/friendogly/config/WebSocketLocalConfig.java
  backend/src/main/java/com/happy/friendogly/config/WebSocketRabbitMqConfig.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
Labels: 🐞 bug, 🖥 backend

#722 [AN] deploy: v1.0.0 업데이트
  .github/workflows/android-cd.yml
  android/app/src/main/AndroidManifest.xml
  android/gradle/libs.versions.toml
Labels: 🚀 CI / CD, 🤖 android

#723 [AN] 놀이터 태블릿 화면 대응
  android/app/src/main/java/com/happy/friendogly/presentation/ui/playground/util/PlaygroundBindingAdapter.kt
  android/app/src/main/res/layout-sw600dp/fragment_playground.xml
  android/app/src/main/res/values-sw600dp/dimens.xml
  android/app/src/main/res/values/dimens.xml
Labels: 🤖 android, ✨ feat

#724 [AN] 놀이터 기능 데모데이에서 발생한 오류 수정
  android/app/src/main/java/com/happy/friendogly/presentation/ui/playground/PlaygroundFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/playground/action/PlaygroundMapAction.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/playground/service/PlaygroundLocationService.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/playground/viewmodel/PlaygroundViewModel.kt
Labels: 🐞 bug, 🤖 android
