Repository woowacourse-teams/2024-friendogly, pull requests merged in 2024-12, with the labels that each got.

#746 [BE] chore: 단일 DB로 변경, 인메모리 메시지 브로커 적용
  backend/src/main/java/com/happy/friendogly/chatsocket/config/RabbitMqConfig.java
  backend/src/main/java/com/happy/friendogly/chatsocket/config/WebSocketInMemoryConfig.java
  backend/src/main/java/com/happy/friendogly/chatsocket/config/WebSocketRabbitMqConfig.java
  backend/src/main/java/com/happy/friendogly/chatsocket/template/InMemoryChatTemplate.java
  backend/src/main/java/com/happy/friendogly/chatsocket/template/RabbitChatTemplate.java
  backend/src/main/java/com/happy/friendogly/config/datasource/DataSourceConfig.java
  backend/src/main/java/com/happy/friendogly/config/datasource/ReplicationRoutingDataSource.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
Labels: ⚙️ setting, 🖥 backend

#748 [BE] setting/s3-CloudFront 서비스 이전
  backend/src/main/java/com/happy/friendogly/infra/S3StorageManager.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
Labels: ⚙️ setting, 🖥 backend

#754 [BE] chore: dev전용 S3, CloudFront구축
  backend/src/main/resources/application-dev.yml
Labels: ⚙️ setting, 🖥 backend

#757 [BE] chore: 로그 보관 기간 수정
  backend/src/main/resources/logback-spring.xml
Labels: 🧦 chore, 🖥 backend

#761 [AN] fix: 로그아웃 안되는 버그
  android/app/src/main/java/com/happy/friendogly/application/di/NetworkModule.kt
Labels: 🐞 bug, 🤖 android

#767 [AN] fix: 핸드폰 gps 종료시 무한 로딩 현상 수정
  android/app/src/androidTest/java/com/happy/friendogly/RecentPetsDatabaseTest.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/permission/AlarmPermission.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/permission/LocationPermission.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/permission/Permission.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/playground/PlaygroundFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/playground/action/PlaygroundAlertAction.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/playground/state/PlaygroundUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/playground/viewmodel/PlaygroundViewModel.kt
  android/app/src/main/res/values/strings.xml
Labels: 🐞 bug, 🤖 android
