Repository woowacourse-teams/2024-friendogly, pull requests merged in 2024-07, with the labels that each got.

#4 안드로이드 필수 라이브러리 추가
  android/app/build.gradle.kts
  android/build.gradle.kts
  android/gradle/libs.versions.toml
  android/settings.gradle.kts
Labels: 🧦 chore, 🤖 android

#25 공용 사용 아이콘 추가
  android/app/src/main/res/drawable/ic_add.xml
  android/app/src/main/res/drawable/ic_alarm.xml
  android/app/src/main/res/drawable/ic_alart.xml
  android/app/src/main/res/drawable/ic_arrow_left.xml
  android/app/src/main/res/drawable/ic_arrow_right.xml
  android/app/src/main/res/drawable/ic_camera.xml
  android/app/src/main/res/drawable/ic_chat.xml
  android/app/src/main/res/drawable/ic_close.xml
  android/app/src/main/res/drawable/ic_dog.xml
  android/app/src/main/res/drawable/ic_home.xml
  android/app/src/main/res/drawable/ic_map.xml
  android/app/src/main/res/drawable/ic_message.xml
  android/app/src/main/res/drawable/ic_more_vertical.xml
  android/app/src/main/res/drawable/ic_my.xml
  android/app/src/main/res/drawable/ic_out.xml
  android/app/src/main/res/drawable/ic_pen.xml
  android/app/src/main/res/drawable/ic_setting.xml
  android/app/src/main/res/drawable/ic_side_menu.xml
Labels: 🤖 android, 🖌️style

#26 안드로이드 CI 환경 구축
  .github/workflows/android-pull-request-ci.yml
  .idea/.gitignore
  android/gradle/libs.versions.toml
Labels: 🚀 CI / CD, 🤖 android

#36 CI 및 Gradle 수정
  .github/workflows/android-pull-request-ci.yml
  android/app/build.gradle.kts
  android/app/src/androidTest/java/com/woowacourse/friendogly/ExampleInstrumentedTest.kt
  android/app/src/main/java/com/woowacourse/friendogly/data/Empty
  android/app/src/main/java/com/woowacourse/friendogly/domain/Empty
  android/app/src/main/java/com/woowacourse/friendogly/domain/empty.kt
  android/app/src/main/java/com/woowacourse/friendogly/local/Empty
  android/app/src/main/java/com/woowacourse/friendogly/local/empty.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/base/BaseFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/Empty
  android/app/src/main/java/com/woowacourse/friendogly/remote/empty.kt
  android/app/src/test/java/com/woowacourse/friendogly/ExampleUnitTest.kt
  android/build.gradle.kts
  android/gradle/libs.versions.toml
Labels: 🧦 chore, 🚀 CI / CD, 🤖 android

#39 단위 테스트 CI 워크플로우 추가
  .github/workflows/android-pull-request-ci.yml
  .github/workflows/publish_unit_test.yml
  android/app/src/test/java/com/woowacourse/friendogly/ExampleUnitTest.kt
Labels: 🚀 CI / CD, 🤖 android

#43 바텀 내비게이션
  android/app/build.gradle.kts
  android/app/src/main/java/com/woowacourse/friendogly/presentation/base/BaseFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/mypage/MyPageFragment.kt
  android/app/src/main/res/drawable/sel_main_icon_color_bnv_menu.xml
  android/app/src/main/res/drawable/sel_main_text_color_bnv_menu.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/menu/menu_main_bottom.xml
  android/app/src/main/res/navigation/navigation_main.xml
  android/app/src/main/res/values/strings.xml
  android/build.gradle.kts
  android/gradle/libs.versions.toml
Labels: 🤖 android, ✨ feat

#46 로그인 화면
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/register/RegisterActivity.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/register/RegisterNavigationAction.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/register/RegisterViewModel.kt
  android/app/src/main/res/drawable/img_dog.png
  android/app/src/main/res/drawable/img_google_register.xml
  android/app/src/main/res/drawable/img_kakao_register.xml
  android/app/src/main/res/layout/activity_register.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#51 구글 로그인
  .github/workflows/android-pull-request-ci.yml
  android/app/build.gradle.kts
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/register/GoogleSignInContract.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/register/RegisterActivity.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/register/RegisterNavigationAction.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/register/RegisterViewModel.kt
  android/app/src/main/res/layout/activity_register.xml
Labels: 🤖 android, ✨ feat

#53 프로필 설정
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/profilesetting/ProfieSettingBindingAdapters.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/profilesetting/ProfileSettingActivity.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/profilesetting/ProfileSettingNavigationAction.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/profilesetting/ProfileSettingUiState.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/profilesetting/ProfileSettingViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/profilesetting/bottom/EditProfileImageBottomSheet.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/register/RegisterActivity.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/utils/BitmapUtil.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/utils/EditTextExtension.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/utils/GlideImageBindingAdapters.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/utils/KeyboardExtensions.kt
  android/app/src/main/res/drawable/ic_user_profile_set_button.xml
  android/app/src/main/res/drawable/rect_blue_fill_16.xml
  android/app/src/main/res/drawable/rect_gray03_fill_16.xml
  android/app/src/main/res/drawable/rect_gray03_line_gray06_16.xml
  android/app/src/main/res/drawable/rect_white_fill_10.xml
  android/app/src/main/res/layout/activity_profile_setting.xml
  android/app/src/main/res/layout/bottom_sheet_edit_profile_image.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/app/src/main/res/values/themes.xml
Labels: 🤖 android, ✨ feat

#56 멍개 리스트 UI 구현
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/GroupListFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/GroupListViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/model/GroupFilterSelector.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/model/groupfilter/GroupFilter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/model/groupfilter/ParticipationFilter.kt
  android/app/src/main/res/drawable/ic_arrow_bottom.xml
  android/app/src/main/res/drawable/ic_arrow_top.xml
  android/app/src/main/res/drawable/ic_filter_alt.xml
  android/app/src/main/res/drawable/ic_user_list.xml
  android/app/src/main/res/drawable/rect_white_fill_radius4.xml
  android/app/src/main/res/drawable/rect_white_line_black_100.xml
  android/app/src/main/res/drawable/rect_white_line_black_4.xml
  android/app/src/main/res/layout/fragment_group_list.xml
  android/app/src/main/res/layout/include_group_filter.xml
  android/app/src/main/res/layout/include_group_filter_selector.xml
  android/app/src/main/res/layout/item_filter.xml
  android/app/src/main/res/layout/item_group.xml
Labels: 🤖 android, ✨ feat

#55 멍개 상세 UI 구현
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/detail/GroupDetailFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/detail/GroupDetailViewModel.kt
  android/app/src/main/res/drawable/rect_white_fill_radius10.xml
  android/app/src/main/res/drawable/rect_white_fill_radius8.xml
  android/app/src/main/res/layout/fragment_group_detail.xml
  android/app/src/main/res/layout/item_detail_profile.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#74 마이페이지
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/mypage/MyPageActionHandler.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/mypage/MyPageFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/mypage/MyPageNavigationAction.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/mypage/MyPageUiState.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/mypage/adapter/DogProfileAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/utils/GlideImageBindingAdapters.kt
  android/app/src/main/res/drawable/rect_black_gradient_fill.xml
  android/app/src/main/res/drawable/rect_gray01_fill_16.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/item_dog.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#93 [BE] feat: 커스텀 예외 도입 및 GlobalExceptionHandler 처리 예외 수정
  backend/src/main/java/com/woowacourse/friendogly/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/friendogly/exception/FriendoglyException.java
Labels: 🖥 backend, ✨ feat

#83 [AN] feat: 채팅 ui 구현
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/ChatListFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/chat/ChatActivity.kt
  android/app/src/main/res/color/sel_chat_send_btn.xml
  android/app/src/main/res/drawable/ic_send_message.xml
  android/app/src/main/res/drawable/rect_orange700_fill_16.xml
  android/app/src/main/res/layout/activity_chat.xml
  android/app/src/main/res/layout/fragment_chat_list.xml
  android/app/src/main/res/layout/item_chat_come.xml
  android/app/src/main/res/layout/item_chat_date.xml
  android/app/src/main/res/layout/item_chat_list.xml
  android/app/src/main/res/layout/item_chat_message_send.xml
  android/app/src/main/res/layout/item_chat_mine.xml
  android/app/src/main/res/layout/item_chat_other.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: 🤖 android, ✨ feat

#95 [BE] refactor: 회원 도메인 리팩토링
  backend/src/main/java/com/woowacourse/friendogly/member/controller/MemberController.java
  backend/src/main/java/com/woowacourse/friendogly/member/domain/Member.java
  backend/src/main/java/com/woowacourse/friendogly/member/dto/request/SaveMemberRequest.java
  backend/src/main/java/com/woowacourse/friendogly/member/dto/response/SaveMemberResponse.java
  backend/src/main/java/com/woowacourse/friendogly/member/dto/response/saveMemberResponse.java
  backend/src/main/java/com/woowacourse/friendogly/member/service/MemberCommandService.java
  backend/src/test/java/com/woowacourse/friendogly/docs/MemberApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/member/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/friendogly/member/domain/MemberTest.java
Labels: 🛠️ refactor, 🖥 backend

#105 [BE] refactor: 발자국 리팩터링 - rebase 관련 이슈 해결 버전
  backend/src/main/java/com/woowacourse/friendogly/footprint/controller/FootprintController.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/domain/Footprint.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/domain/Location.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/service/FootprintCommandService.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/service/FootprintQueryService.java
  backend/src/test/java/com/woowacourse/friendogly/docs/FootprintApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/domain/LocationTest.java
Labels: 🛠️ refactor, 🖥 backend

#90 [AN] feat: 강아지 선택 기능 구현
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/select/DogSelectActionHandler.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/select/DogSelectBindingAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/select/DogSelectFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/select/DogSelectUiModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/select/DogSelectViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/select/adapter/DogSelectAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/select/adapter/DogSelectViewHolder.kt
  android/app/src/main/res/layout/fragment_dog_select.xml
  android/app/src/main/res/layout/item_dog_select_profile.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#108 [AN] feat: 멍멍 짖기 기능 구현
  .idea/vcs.xml
  .idea/workspace.xml
  android/.gitignore
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/woowacourse/friendogly/application/FriendoglyApplication.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/woof/DogUiModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/woof/WoofBindingAdapters.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/woof/WoofFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/woof/bottom/FootPrintBottomSheet.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/utils/GlideImageBindingAdapters.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/utils/ParcelExtension.kt
  android/app/src/main/res/drawable/ic_mark_btn.xml
  android/app/src/main/res/drawable/ic_marker.xml
  android/app/src/main/res/drawable/rect_orange100_fill_12.xml
  android/app/src/main/res/drawable/rect_orange700_fill_12.xml
  android/app/src/main/res/drawable/rect_white_fill_20.xml
  android/app/src/main/res/drawable/ripple_circle_white.xml
  android/app/src/main/res/layout/bottom_sheet_foot_print.xml
  android/app/src/main/res/layout/fragment_woof.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/app/src/main/res/values/themes.xml
  android/gradle/libs.versions.toml
  android/settings.gradle.kts
Labels: 🤖 android, ✨ feat

#128 [AN] feat: 멍개 리스트 기능 구현
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/GroupListActionHandler.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/GroupListBindingAdapters.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/GroupListFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/GroupListViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/filter/FilterAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/filter/FilterViewHolder.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/group/GroupListAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/group/GroupViewHolder.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/selectfilter/SelectFilterAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/selectfilter/SelectFilterViewHolder.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/model/GroupFilterSelector.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/model/GroupUiModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/model/groupfilter/GroupFilter.kt
  android/app/src/main/res/layout/fragment_group_list.xml
  android/app/src/main/res/layout/include_group_selector.xml
  android/app/src/main/res/layout/item_group.xml
  android/app/src/main/res/layout/item_select_filter.xml
  android/app/src/main/res/navigation/navigation_main.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#111 [AN] feat: 채팅리스트 adapter 연결
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/ChatBindingAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/ChatListFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/ChatListMapper.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/ChatListViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/adapter/ChatListAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/uimodel/ChatDateTime.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/uimodel/ChatListUiModel.kt
  android/app/src/main/res/drawable/rect_gray03_botline_bot1.xml
  android/app/src/main/res/layout/fragment_chat_list.xml
  android/app/src/main/res/layout/item_chat_list.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#116 [AN] feat: 내 강아지 상세 화면
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/dogdetail/DogDetailBindingAdapters.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/dogdetail/DogDetailFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/dogdetail/DogDetailUiState.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/dogdetail/DogDetailViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/dogdetail/adapter/DogDetailAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/mypage/MyPageActionHandler.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/mypage/MyPageFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/mypage/MyPageNavigationAction.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/mypage/MyPageViewModel.kt
  android/app/src/main/res/anim/enter_from_right.xml
  android/app/src/main/res/anim/exit_to_right.xml
  android/app/src/main/res/drawable/img_acorm.JPG
  android/app/src/main/res/drawable/img_dog_female.png
  android/app/src/main/res/drawable/img_dog_male.png
  android/app/src/main/res/drawable/rect_black_gradient_start.xml
  android/app/src/main/res/drawable/shape_indicator_active.xml
  android/app/src/main/res/drawable/shape_indicator_inactive.xml
  android/app/src/main/res/layout/fragment_dog_detail.xml
  android/app/src/main/res/layout/item_dog.xml
  android/app/src/main/res/layout/item_dog_detail.xml
  android/app/src/main/res/navigation/navigation_main.xml
Labels: 🤖 android, ✨ feat

#103 [AN] feat: 바텀 내비게이션 연결
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/menu/menu_main_bottom.xml
  android/app/src/main/res/navigation/navigation_main.xml
Labels: 🤖 android, ✨ feat

#122 [BE] feat: 발자국 - image URL 필드 추가, 쿨타임 검증 추가, 마지막 발자국 조회 기능 구현
  backend/src/main/java/com/woowacourse/friendogly/footprint/controller/FootprintController.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/domain/Footprint.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/domain/Location.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/request/FindNearFootprintRequest.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/request/SaveFootprintRequest.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/request/UpdateFootprintImageRequest.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/FindMyLatestFootprintTimeResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/FindNearFootprintResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/UpdateFootprintImageResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/repository/FootprintRepository.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/service/FootprintCommandService.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/service/FootprintQueryService.java
  backend/src/test/java/com/woowacourse/friendogly/docs/FootprintApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/domain/LocationTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintCommandServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintQueryServiceTest.java
Labels: 🖥 backend, ✨ feat

#137 [BE] feat: Club 도메인 개발
  backend/src/main/java/com/woowacourse/friendogly/club/domain/Club.java
  backend/src/main/java/com/woowacourse/friendogly/club/domain/Content.java
  backend/src/main/java/com/woowacourse/friendogly/club/domain/MemberCapacity.java
  backend/src/main/java/com/woowacourse/friendogly/club/domain/Status.java
  backend/src/main/java/com/woowacourse/friendogly/club/domain/Title.java
  backend/src/main/resources/application-local.yml
  backend/src/test/java/com/woowacourse/friendogly/club/domain/ContentTest.java
  backend/src/test/java/com/woowacourse/friendogly/club/domain/MemberCapacityTest.java
  backend/src/test/java/com/woowacourse/friendogly/club/domain/TitleTest.java
Labels: 🖥 backend, ✨ feat

#127 [AN] feat: kakao login
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/woowacourse/friendogly/application/FriendoglyApplication.kt
  android/app/src/main/java/com/woowacourse/friendogly/data/Empty
  android/app/src/main/java/com/woowacourse/friendogly/data/datasource/KakaoLoginDataSource.kt
  android/app/src/main/java/com/woowacourse/friendogly/data/mapper/KakaoAccessTokenMapper.kt
  android/app/src/main/java/com/woowacourse/friendogly/data/model/KakaoAccessTokenDto.kt
  android/app/src/main/java/com/woowacourse/friendogly/data/repository/KakaoLoginRepositoryImpl.kt
  android/app/src/main/java/com/woowacourse/friendogly/domain/Empty
  android/app/src/main/java/com/woowacourse/friendogly/domain/model/KakaoAccessToken.kt
  android/app/src/main/java/com/woowacourse/friendogly/domain/repository/KakaoLoginRepository.kt
  android/app/src/main/java/com/woowacourse/friendogly/domain/usecase/KakaoLoginUseCase.kt
  android/app/src/main/java/com/woowacourse/friendogly/kakao/datasource/KakaoLoginDataSourceImpl.kt
  android/app/src/main/java/com/woowacourse/friendogly/kakao/di/KakaoModule.kt
  android/app/src/main/java/com/woowacourse/friendogly/kakao/mapper/KakaoTokenDtoMapper.kt
  android/app/src/main/java/com/woowacourse/friendogly/kakao/model/KakaoAccessTokenResponse.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/register/RegisterActivity.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/register/RegisterNavigationAction.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/register/RegisterViewModel.kt
  android/app/src/main/res/layout/activity_register.xml
Labels: 🤖 android, ✨ feat

#140 [BE] fix: 배포가 안되는 버그 수정
  .github/workflows/backend-cd-workflow.yml
  backend/src/main/java/com/woowacourse/friendogly/GlobalExceptionHandler.java
Labels: 🚀 CI / CD, 🖥 backend

#148 [AN] feat: 멍개 리스트 디자인 구체화
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/GroupListBindingAdapters.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/GroupListViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/group/GroupViewHolder.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/woof/GroupWoofAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/woof/GroupWoofViewHolder.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/model/GroupUiModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/model/GroupWoof.kt
  android/app/src/main/res/drawable/rect_gray_fill_radius8.xml
  android/app/src/main/res/layout/fragment_group_list.xml
  android/app/src/main/res/layout/include_group_filter.xml
  android/app/src/main/res/layout/include_group_selector.xml
  android/app/src/main/res/layout/item_filter.xml
  android/app/src/main/res/layout/item_group.xml
  android/app/src/main/res/layout/item_group_dog_image.xml
  android/app/src/main/res/layout/item_select_filter.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: 🤖 android, ✨ feat

#150 [BE] feat: 회원 및 강아지 검증 추가
  backend/src/main/java/com/woowacourse/friendogly/member/domain/Email.java
  backend/src/main/java/com/woowacourse/friendogly/member/domain/Member.java
  backend/src/main/java/com/woowacourse/friendogly/member/domain/Name.java
  backend/src/main/java/com/woowacourse/friendogly/member/dto/response/SaveMemberResponse.java
  backend/src/main/java/com/woowacourse/friendogly/member/service/MemberCommandService.java
  backend/src/main/java/com/woowacourse/friendogly/pet/domain/Pet.java
  backend/src/main/java/com/woowacourse/friendogly/pet/dto/request/SavePetRequest.java
  backend/src/main/java/com/woowacourse/friendogly/pet/repository/PetRepository.java
  backend/src/main/java/com/woowacourse/friendogly/pet/service/PetCommandService.java
  backend/src/main/java/com/woowacourse/friendogly/utils/UuidGenerator.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/woowacourse/friendogly/docs/MemberApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/pet/controller/PetControllerTest.java
  backend/src/test/java/com/woowacourse/friendogly/pet/domain/PetTest.java
Labels: 🛠️ refactor, 🖥 backend, ✨ feat

#142 [BE] 발자국 단건 조회 API 구현, 주변 발자국 조회 API 명세 수정
  backend/src/main/java/com/woowacourse/friendogly/footprint/controller/FootprintController.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/FindNearFootprintResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/FindOneFootprintResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/service/FootprintQueryService.java
  backend/src/test/java/com/woowacourse/friendogly/docs/FootprintApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintQueryServiceTest.java
Labels: 🛠️ refactor, 🖥 backend, ✨ feat

#146 [AN] feat: 멍개 등록 UI,기능 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/add/GroupAddActionHandler.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/add/GroupAddActivity.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/add/GroupAddBindingAdapters.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/add/GroupAddEvent.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/add/GroupAddNavigationAction.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/add/GroupAddViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/add/adapter/GroupAddAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/add/detal/GroupAddDetailFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/add/filter/GroupAddFilterFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/add/information/GroupAddInformationFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/add/model/GroupCounter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/GroupListViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/filter/FilterAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/filter/FilterViewHolder.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/group/GroupListAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/group/GroupViewHolder.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/selectfilter/SelectFilterAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/selectfilter/SelectFilterViewHolder.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/model/GroupFilterSelector.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/model/groupfilter/GroupFilter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/model/GroupFilterSelector.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/model/GroupUiModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/model/GroupWoof.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/model/groupfilter/GroupFilter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/model/groupfilter/ParticipationFilter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/select/DogSelectFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/utils/KeyboardExtensions.kt
  android/app/src/main/res/drawable/ic_check.xml
  android/app/src/main/res/drawable/ic_un_check.xml
  android/app/src/main/res/drawable/progressbar_linear_progress.xml
  android/app/src/main/res/drawable/sel_group_add_check_filter_menu.xml
  android/app/src/main/res/drawable/sel_group_background_add_dog.xml
  android/app/src/main/res/drawable/sel_group_background_filter_menu.xml
  android/app/src/main/res/drawable/sel_group_text_filter_menu.xml
  android/app/src/main/res/layout/activity_group_add.xml
  android/app/src/main/res/layout/fragment_group_add_detail.xml
  android/app/src/main/res/layout/fragment_group_add_filter.xml
  android/app/src/main/res/layout/fragment_group_add_information.xml
  android/app/src/main/res/layout/fragment_group_detail.xml
  android/app/src/main/res/layout/include_add_dog_menu.xml
  android/app/src/main/res/layout/include_group_selector.xml
  android/app/src/main/res/layout/item_detail_dog_profile.xml
  android/app/src/main/res/layout/item_detail_profile.xml
  android/app/src/main/res/layout/item_filter.xml
  android/app/src/main/res/layout/item_group.xml
  android/app/src/main/res/layout/item_select_filter.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/gradle/libs.versions.toml
Labels: 🤖 android, ✨ feat

#159 [BE] feat: 필터링 구현 및 모임 검색 API 구현
  backend/src/main/java/com/woowacourse/friendogly/club/controller/ClubController.java
  backend/src/main/java/com/woowacourse/friendogly/club/domain/Address.java
  backend/src/main/java/com/woowacourse/friendogly/club/domain/Club.java
  backend/src/main/java/com/woowacourse/friendogly/club/domain/ClubMember.java
  backend/src/main/java/com/woowacourse/friendogly/club/domain/ClubMemberPet.java
  backend/src/main/java/com/woowacourse/friendogly/club/domain/Content.java
  backend/src/main/java/com/woowacourse/friendogly/club/domain/MemberCapacity.java
  backend/src/main/java/com/woowacourse/friendogly/club/dto/request/FindSearchingClubRequest.java
  backend/src/main/java/com/woowacourse/friendogly/club/dto/response/FindSearchingClubResponse.java
  backend/src/main/java/com/woowacourse/friendogly/club/repository/ClubMemberPetRepository.java
  backend/src/main/java/com/woowacourse/friendogly/club/repository/ClubMemberRepository.java
  backend/src/main/java/com/woowacourse/friendogly/club/repository/ClubRepository.java
  backend/src/main/java/com/woowacourse/friendogly/club/repository/ClubSpecification.java
  backend/src/main/java/com/woowacourse/friendogly/club/service/ClubCommandService.java
  backend/src/main/java/com/woowacourse/friendogly/club/service/ClubQueryService.java
  backend/src/test/java/com/woowacourse/friendogly/club/domain/AddressTest.java
  backend/src/test/java/com/woowacourse/friendogly/club/domain/ClubMemberTest.java
  backend/src/test/java/com/woowacourse/friendogly/club/service/ClubQueryServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/club/service/ClubServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/docs/ClubApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintCommandServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintQueryServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/support/ServiceTest.java
  backend/src/test/resources/application.properties
Labels: 🖥 backend, ✨ feat

#152 [AN] feat: 채팅 상세 리스트 및 상세 정보 ui 구현
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/ChatListFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/ChatListNavigationAction.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/adapter/ChatListAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/chat/ChatActivity.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/chat/ChatUiModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/chat/ChatViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/chat/adapter/ChatAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/chat/adapter/ChatType.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/chat/adapter/ChatViewHolder.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/chatinfo/ChatInfoSideSheet.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/chatinfo/ChatInfoUiModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/chatinfo/ChatInfoViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/chatinfo/JoinPeopleAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/chatlist/uimodel/ChatListUiModel.kt
  android/app/src/main/res/color/sel_chat_dog_info_checkbox.xml
  android/app/src/main/res/color/sel_switch_thumb.xml
  android/app/src/main/res/color/sel_switch_track.xml
  android/app/src/main/res/drawable/circle_chat_mine_tv.xml
  android/app/src/main/res/drawable/ic_leader.xml
  android/app/src/main/res/drawable/rect_gray01_line_gray03_16.xml
  android/app/src/main/res/drawable/rect_orange07_line_orange05_16.xml
  android/app/src/main/res/drawable/sel_chat_dog_size_checkbox.xml
  android/app/src/main/res/layout/activity_chat.xml
  android/app/src/main/res/layout/fragment_chat_list.xml
  android/app/src/main/res/layout/item_chat_come_out.xml
  android/app/src/main/res/layout/item_chat_date.xml
  android/app/src/main/res/layout/item_chat_join_people.xml
  android/app/src/main/res/layout/item_chat_message_send.xml
  android/app/src/main/res/layout/item_chat_mine.xml
  android/app/src/main/res/layout/item_chat_other.xml
  android/app/src/main/res/layout/layout_chat_drawer.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: 🤖 android, ✨ feat

#167 [BE] feat: 인증 ArgumentResolver 구현 및 API 문서화
  backend/build.gradle
  backend/src/main/java/com/woowacourse/friendogly/auth/Auth.java
  backend/src/main/java/com/woowacourse/friendogly/auth/AuthArgumentResolver.java
  backend/src/main/java/com/woowacourse/friendogly/config/WebConfig.java
  backend/src/main/java/com/woowacourse/friendogly/pet/controller/PetController.java
  backend/src/main/java/com/woowacourse/friendogly/pet/dto/request/SavePetRequest.java
  backend/src/main/java/com/woowacourse/friendogly/pet/service/PetCommandService.java
  backend/src/test/java/com/woowacourse/friendogly/docs/MemberApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/docs/PetApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/pet/controller/PetControllerTest.java
Labels: 🧦 chore, 📝 docs, 🖥 backend, ✨ feat

#169 [AN] feat: 모임 상세, 댕댕이 선택 기능 구체화
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/woowacourse/friendogly/application/di/AppModule.kt
  android/app/src/main/java/com/woowacourse/friendogly/data/mapper/FootprintMapper.kt
  android/app/src/main/java/com/woowacourse/friendogly/data/model/FootprintDto.kt
  android/app/src/main/java/com/woowacourse/friendogly/data/repository/FootprintRepositoryImpl.kt
  android/app/src/main/java/com/woowacourse/friendogly/data/source/FootprintDataSource.kt
  android/app/src/main/java/com/woowacourse/friendogly/domain/model/Footprint.kt
  android/app/src/main/java/com/woowacourse/friendogly/domain/repository/FootprintRepository.kt
  android/app/src/main/java/com/woowacourse/friendogly/domain/usecase/GetFootprintsUseCase.kt
  android/app/src/main/java/com/woowacourse/friendogly/domain/usecase/PostFootprintUseCase.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/detail/GroupDetailActionHandler.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/detail/GroupDetailActivity.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/detail/GroupDetailEvent.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/detail/GroupDetailFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/detail/GroupDetailUiModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/detail/GroupDetailViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/detail/adapter/DetailProfileAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/detail/adapter/DetailProfileViewHolder.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/GroupListActionHandler.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/GroupListBindingAdapters.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/GroupListEvent.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/GroupListFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/GroupListUiModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/GroupListViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/group/GroupListAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/list/adapter/group/GroupViewHolder.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/select/DogSelectActionHandler.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/select/DogSelectBindingAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/select/DogSelectBindingAdapters.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/select/DogSelectBottomSheet.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/select/DogSelectEvent.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/select/DogSelectFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/select/DogSelectUiModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/group/select/DogSelectViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/api/FootprintService.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/di/RemoteModule.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/mapper/FootprintDtoMapper.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/model/request/PostFootprintsRequest.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/model/response/FootprintMineLatestResponse.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/model/response/FootprintResponse.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/source/FootprintDataSourceImpl.kt
  android/app/src/main/res/layout/activity_group_detail.xml
  android/app/src/main/res/layout/bottom_sheet_dog_selector.xml
  android/app/src/main/res/layout/fragment_dog_select.xml
  android/app/src/main/res/layout/item_detail_profile.xml
  android/app/src/main/res/layout/item_dog_select_profile.xml
  android/app/src/main/res/layout/item_group.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: 🤖 android, ✨ feat

#166 [BE] feat: 강아지가 없으면 발자국 추가 못하도록 검증 추가, 일부 명세 수정
  backend/src/main/java/com/woowacourse/friendogly/footprint/controller/FootprintController.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/domain/Footprint.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/domain/Location.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/request/FindNearFootprintRequest.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/request/SaveFootprintRequest.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/FindMyLatestFootprintTimeResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/FindNearFootprintResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/FindOneFootprintResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/SaveFootprintResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/service/FootprintCommandService.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/service/FootprintQueryService.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/woowacourse/friendogly/docs/FootprintApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/domain/LocationTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintCommandServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintQueryServiceTest.java
Labels: 🛠️ refactor, 📝 docs, 🖥 backend, ✨ feat

#171 `Authorization` 헤더 사용하도록 리팩토링
  backend/src/main/java/com/woowacourse/friendogly/footprint/controller/FootprintController.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/FindOneFootprintResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/service/FootprintCommandService.java
  backend/src/test/java/com/woowacourse/friendogly/docs/FootprintApiDocsTest.java
Labels: 🛠️ refactor, 🖥 backend

#165 [BE] refactor: Club 매핑 테이블 엔티티 연관 관계 개선
  backend/src/main/java/com/woowacourse/friendogly/club/domain/ClubMember.java
  backend/src/main/java/com/woowacourse/friendogly/club/domain/ClubPet.java
  backend/src/main/java/com/woowacourse/friendogly/club/repository/ClubMemberPetRepository.java
  backend/src/main/java/com/woowacourse/friendogly/club/repository/ClubPetRepository.java
  backend/src/main/java/com/woowacourse/friendogly/club/service/ClubQueryService.java
  backend/src/test/java/com/woowacourse/friendogly/club/domain/ClubMemberTest.java
  backend/src/test/java/com/woowacourse/friendogly/club/service/ClubQueryServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/club/service/ClubServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/support/ServiceTest.java
Labels: 🖥 backend

#180 [BE] feat: 공통 응답 포맷 구현
  backend/src/main/java/com/woowacourse/friendogly/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/friendogly/auth/AuthArgumentResolver.java
  backend/src/main/java/com/woowacourse/friendogly/common/ApiResponse.java
  backend/src/main/java/com/woowacourse/friendogly/common/ErrorCode.java
  backend/src/main/java/com/woowacourse/friendogly/common/ErrorResponse.java
  backend/src/main/java/com/woowacourse/friendogly/exception/FriendoglyException.java
  backend/src/main/java/com/woowacourse/friendogly/member/controller/MemberController.java
  backend/src/main/java/com/woowacourse/friendogly/pet/controller/PetController.java
  backend/src/test/java/com/woowacourse/friendogly/docs/MemberApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/docs/PetApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/pet/controller/PetControllerTest.java
Labels: 📝 docs, 🖥 backend, ✨ feat

#182 [BE] feat: 회원 정보 조회 API 구현 및 문서화
  backend/src/main/java/com/woowacourse/friendogly/member/controller/MemberController.java
  backend/src/main/java/com/woowacourse/friendogly/member/dto/response/FindMemberResponse.java
  backend/src/main/java/com/woowacourse/friendogly/member/service/MemberQueryService.java
  backend/src/test/java/com/woowacourse/friendogly/docs/MemberApiDocsTest.java
Labels: 📝 docs, 🖥 backend, ✨ feat

#175 [BE] feat: 시간대 설정, 날짜 응답 포맷 일괄 지정
  backend/src/main/java/com/woowacourse/friendogly/FriendoglyApplication.java
  backend/src/main/java/com/woowacourse/friendogly/config/TimeFormatConfig.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/FindMyLatestFootprintTimeResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/FindNearFootprintResponse.java
  backend/src/test/java/com/woowacourse/friendogly/docs/RestDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/support/ServiceTest.java
Labels: 🧦 chore, 🖥 backend, ✨ feat

#185 [BE] 발자국(Footprint) 통합 테스트 추가, 공통 응답 적용
  backend/src/main/java/com/woowacourse/friendogly/footprint/controller/FootprintController.java
  backend/src/test/java/com/woowacourse/friendogly/docs/FootprintApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/controller/FootprintControllerTest.java
Labels: 🔎 test, 🛠️ refactor, 🖥 backend

#197 [BE] fix: File생성 시 createTempFile로 생성하도록 변경
  backend/src/main/java/com/woowacourse/friendogly/infra/S3StorageManager.java
Labels: 🐞 bug, 🖥 backend

#198 [BE] feat: 회원 및 강아지 등록 시 이미지 추가 기능 구현
  backend/src/main/java/com/woowacourse/friendogly/club/service/ClubQueryService.java
  backend/src/main/java/com/woowacourse/friendogly/member/controller/MemberController.java
  backend/src/main/java/com/woowacourse/friendogly/member/domain/Member.java
  backend/src/main/java/com/woowacourse/friendogly/member/dto/response/FindMemberResponse.java
  backend/src/main/java/com/woowacourse/friendogly/member/dto/response/SaveMemberResponse.java
  backend/src/main/java/com/woowacourse/friendogly/member/service/MemberCommandService.java
  backend/src/main/java/com/woowacourse/friendogly/pet/controller/PetController.java
  backend/src/main/java/com/woowacourse/friendogly/pet/domain/ImageUrl.java
  backend/src/main/java/com/woowacourse/friendogly/pet/domain/Pet.java
  backend/src/main/java/com/woowacourse/friendogly/pet/dto/request/SavePetRequest.java
  backend/src/main/java/com/woowacourse/friendogly/pet/dto/response/FindPetResponse.java
  backend/src/main/java/com/woowacourse/friendogly/pet/dto/response/SavePetResponse.java
  backend/src/main/java/com/woowacourse/friendogly/pet/service/PetCommandService.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/woowacourse/friendogly/docs/MemberApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/docs/PetApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/member/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/friendogly/pet/controller/PetControllerTest.java
  backend/src/test/java/com/woowacourse/friendogly/pet/domain/PetTest.java
  backend/src/test/resources/real_ddang.jpg
Labels: 🧦 chore, 🖥 backend, ✨ feat

#189 [AN] feat: 기본 다이얼로그 추가
  android/app/src/main/java/com/woowacourse/friendogly/presentation/base/BaseDialog.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/dialog/AlertDialogModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/dialog/BaseAlertDialogBindingAdapter.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/dialog/DefaultBlueAlertDialog.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/dialog/DefaultGrayAlertDialog.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/dialog/DefaultRedAlertDialog.kt
  android/app/src/main/res/drawable/sel_dialog_blue_fill_16.xml
  android/app/src/main/res/drawable/sel_dialog_gray02_fill_16.xml
  android/app/src/main/res/drawable/sel_dialog_line_red_16.xml
  android/app/src/main/res/drawable/sel_dialog_white_fill_20.xml
  android/app/src/main/res/layout/dialog_blue_default_alert.xml
  android/app/src/main/res/layout/dialog_gray_default_alert.xml
  android/app/src/main/res/layout/dialog_red_default_alert.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/values/styles.xml
Labels: 🤖 android, ✨ feat

#194 [AN] feat: 마이페이지 내정보 API 연결
  android/app/src/main/java/com/woowacourse/friendogly/application/di/AppModule.kt
  android/app/src/main/java/com/woowacourse/friendogly/data/mapper/MemberMapper.kt
  android/app/src/main/java/com/woowacourse/friendogly/data/model/MemberDto.kt
  android/app/src/main/java/com/woowacourse/friendogly/data/repository/MemberRepositoryImpl.kt
  android/app/src/main/java/com/woowacourse/friendogly/data/source/MemberDataSource.kt
  android/app/src/main/java/com/woowacourse/friendogly/domain/model/Member.kt
  android/app/src/main/java/com/woowacourse/friendogly/domain/repository/MemberRepository.kt
  android/app/src/main/java/com/woowacourse/friendogly/domain/usecase/GetMemberMineUseCase.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/mypage/MyPageFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/mypage/MyPageUiState.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/api/ApiClient.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/api/MemberService.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/mapper/MemberDtoMapper.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/source/MemberDataSourceImpl.kt
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#210 [AN] feat: 프로필 이미지 업로드
  android/app/src/main/java/com/woowacourse/friendogly/data/repository/MemberRepositoryImpl.kt
  android/app/src/main/java/com/woowacourse/friendogly/data/repository/PetRepositoryImpl.kt
  android/app/src/main/java/com/woowacourse/friendogly/data/source/MemberDataSource.kt
  android/app/src/main/java/com/woowacourse/friendogly/data/source/PetDataSource.kt
  android/app/src/main/java/com/woowacourse/friendogly/domain/repository/MemberRepository.kt
  android/app/src/main/java/com/woowacourse/friendogly/domain/repository/PetRepository.kt
  android/app/src/main/java/com/woowacourse/friendogly/domain/usecase/PostMemberUseCase.kt
  android/app/src/main/java/com/woowacourse/friendogly/domain/usecase/PostPetUseCase.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/profilesetting/ProfileSettingViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/registerdog/RegisterDogViewModel.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/utils/BitmapUtil.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/api/MemberService.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/api/PetService.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/model/request/PostPetRequest.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/source/MemberDataSourceImpl.kt
  android/app/src/main/java/com/woowacourse/friendogly/remote/source/PetDataSourceImpl.kt
Labels: 🤖 android, ✨ feat

#208 [AN] refactor: 바텀 네비게이션 수정
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/woowacourse/friendogly/presentation/base/BaseFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/MainActivityActionHandler.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/dogdetail/DogDetailActivity.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/mypage/MyPageFragment.kt
  android/app/src/main/java/com/woowacourse/friendogly/presentation/ui/registerdog/RegisterDogActivity.kt
  android/app/src/main/res/layout/activity_dog_detail.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_register_dog.xml
  android/app/src/main/res/navigation/navigation_main.xml
  android/build.gradle.kts
  android/gradle/libs.versions.toml
Labels: 🛠️ refactor, 🤖 android

#195 [BE] feat: 발자국 S3 연동, API 응답 일부 수정
  backend/src/main/java/com/woowacourse/friendogly/footprint/controller/FootprintController.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/request/UpdateFootprintImageRequest.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/FindMyLatestFootprintTimeAndPetExistenceResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/FindMyLatestFootprintTimeResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/service/FootprintCommandService.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/service/FootprintQueryService.java
  backend/src/main/java/com/woowacourse/friendogly/pet/repository/PetRepository.java
  backend/src/test/java/com/woowacourse/friendogly/docs/FootprintApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintQueryServiceTest.java
Labels: 🖥 backend, ✨ feat

#219 [AN] 지도 로딩 애니메이션
  android/app/build.gradle.kts
  android/app/src/main/assets/animation_loading.json
  android/app/src/main/java/com/happy/friendogly/domain/mapper/FootprintInfoMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofFragment.kt
  android/app/src/main/res/drawable/ic_other_footprint.xml
  android/app/src/main/res/layout/fragment_woof.xml
  android/app/src/main/res/values/colors.xml
  android/gradle/libs.versions.toml
Labels: 🤖 android, ✨ feat

#220 [AN] refacotor: 코랄 색깔로 변경
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/detail/GroupDetailBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/select/DogSelectBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfieSettingBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerdog/RegisterDogBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofBindingAdapters.kt
  android/app/src/main/res/color/sel_chat_send_btn.xml
  android/app/src/main/res/color/sel_switch_thumb.xml
  android/app/src/main/res/color/sel_switch_track.xml
  android/app/src/main/res/drawable/circle_chat_mine_tv.xml
  android/app/src/main/res/drawable/progressbar_linear_progress.xml
  android/app/src/main/res/drawable/rect_gray01_fill_16.xml
  android/app/src/main/res/drawable/rect_gray01_line_gray03_16.xml
  android/app/src/main/res/drawable/rect_gray03_botline_bot1.xml
  android/app/src/main/res/drawable/rect_gray03_fill_16.xml
  android/app/src/main/res/drawable/rect_gray03_line_gray06_16.xml
  android/app/src/main/res/drawable/rect_gray_fill_radius8.xml
  android/app/src/main/res/drawable/rect_orange07_line_orange05_16.xml
  android/app/src/main/res/drawable/rect_orange100_fill_12.xml
  android/app/src/main/res/drawable/rect_orange700_fill_12.xml
  android/app/src/main/res/drawable/rect_orange700_fill_16.xml
  android/app/src/main/res/drawable/ripple_circle_white.xml
  android/app/src/main/res/drawable/sel_dialog_gray02_fill_16.xml
  android/app/src/main/res/drawable/sel_group_background_add_dog.xml
  android/app/src/main/res/drawable/sel_group_background_filter_menu.xml
  android/app/src/main/res/drawable/sel_main_icon_color_bnv_menu.xml
  android/app/src/main/res/drawable/sel_main_text_color_bnv_menu.xml
  android/app/src/main/res/drawable/shape_indicator_inactive.xml
  android/app/src/main/res/drawable/shape_white_line_gray05_20.xml
  android/app/src/main/res/layout/activity_chat.xml
  android/app/src/main/res/layout/activity_group_detail.xml
  android/app/src/main/res/layout/bottom_sheet_dog_edit_profile_image.xml
  android/app/src/main/res/layout/bottom_sheet_dog_selector.xml
  android/app/src/main/res/layout/bottom_sheet_edit_profile_image.xml
  android/app/src/main/res/layout/fragment_group_add_detail.xml
  android/app/src/main/res/layout/item_chat_come_out.xml
  android/app/src/main/res/layout/item_group_dog_image.xml
  android/app/src/main/res/layout/layout_chat_drawer.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/styles.xml
Labels: ⚙️ setting, 🛠️ refactor, 🤖 android

#217 [AN] feat: 아이콘 & 각종 이미지 추가
  android/app/src/main/res/drawable/ic_group_normal.xml
  android/app/src/main/res/drawable/ic_login_image.xml
  android/app/src/main/res/drawable/img_profile_normal.jpg
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/menu/menu_main_bottom.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#223 [BE] chore: 강아지 더미데이터 변경
  backend/src/main/resources/data.sql
Labels: 🧦 chore, 🖥 backend

#224 [BE] refactor: 발자국 단건조회 API를 도메인 정책에 맞게 변경, 발자국 생성 API에 필드 추가
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/FindOneFootprintResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/SaveFootprintResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/service/FootprintCommandService.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/service/FootprintQueryService.java
  backend/src/test/java/com/woowacourse/friendogly/docs/FootprintApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/controller/FootprintControllerTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintQueryServiceTest.java
Labels: 🐞 bug, 🛠️ refactor, 🖥 backend

#226 [AN] 기본 이미지 변경 & 모서리값 변경
  android/app/src/main/java/com/happy/friendogly/presentation/utils/GlideImageBindingAdapters.kt
  android/app/src/main/res/drawable/rect_coral400_fill_20.xml
  android/app/src/main/res/drawable/sel_regsiterdog_color_dog_option.xml
  android/app/src/main/res/layout/activity_profile_setting.xml
  android/app/src/main/res/layout/activity_register_dog.xml
Labels: 🛠️ refactor, 🤖 android, 🖌️style

#232 [AN] 지도 마커 우선순위 구현
  android/app/src/main/java/com/happy/friendogly/data/mapper/FootprintMarkBtnInfoMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/FootprintSaveMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/model/FootprintMarkBtnInfoDto.kt
  android/app/src/main/java/com/happy/friendogly/data/model/FootprintSaveDto.kt
  android/app/src/main/java/com/happy/friendogly/domain/mapper/FootprintInfoMapper.kt
  android/app/src/main/java/com/happy/friendogly/domain/mapper/FootprintMapper.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/FootprintMarkBtnInfo.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/FootprintSave.kt
  android/app/src/main/java/com/happy/friendogly/presentation/model/FootprintUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofSnackbarActions.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/FootprintMarkBtnInfoMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/FootprintSaveMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/FootprintMarkBtnInfoResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/FootprintSaveResponse.kt
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#243 [BE] test: Footprint 테스트에 픽스처 적용
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintCommandServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintQueryServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintServiceTest.java
Labels: 🔎 test, 🖥 backend

#257 [AN] feat: 멍개 수정 기능 & UI 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/add/adapter/GroupAddAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/add/detail/GroupAddDetailFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/detail/GroupDetailActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/detail/GroupDetailNavigation.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/detail/GroupDetailUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/detail/GroupDetailViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/menu/GroupMenuActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/menu/GroupMenuBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/menu/GroupMenuBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/menu/GroupMenuEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/menu/GroupMenuViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/modify/GroupModifyActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/modify/GroupModifyActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/modify/GroupModifyEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/modify/GroupModifyUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/modify/GroupModifyViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/utils/SerializableMapper.kt
  android/app/src/main/res/layout/activity_group_detail.xml
  android/app/src/main/res/layout/activity_group_modify.xml
  android/app/src/main/res/layout/bottom_sheet_group_menu.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#253 [BE] footprint 필드 추가 및 삭제
  backend/src/main/java/com/woowacourse/friendogly/footprint/controller/FootprintController.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/domain/Footprint.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/domain/WalkStatus.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/FindNearFootprintResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/FindOneFootprintResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/service/FootprintCommandService.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/service/FootprintQueryService.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/woowacourse/friendogly/docs/FootprintApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/controller/FootprintControllerTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintCommandServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintQueryServiceTest.java
Labels: 🖥 backend, ✨ feat

#254 [BE] feat: 1:1 채팅방 구현
  backend/build.gradle
  backend/src/main/java/com/woowacourse/friendogly/auth/WebSocketArgumentResolver.java
  backend/src/main/java/com/woowacourse/friendogly/auth/WebSocketAuth.java
  backend/src/main/java/com/woowacourse/friendogly/chat/controller/ChatController.java
  backend/src/main/java/com/woowacourse/friendogly/chat/controller/PrivateChatRoomController.java
  backend/src/main/java/com/woowacourse/friendogly/chat/domain/PrivateChatRoom.java
  backend/src/main/java/com/woowacourse/friendogly/chat/dto/request/ChatMessageRequest.java
  backend/src/main/java/com/woowacourse/friendogly/chat/dto/response/ChatMessageResponse.java
  backend/src/main/java/com/woowacourse/friendogly/chat/dto/response/FindMyPrivateChatRoomResponse.java
  backend/src/main/java/com/woowacourse/friendogly/chat/dto/response/InvitePrivateChatRoomResponse.java
  backend/src/main/java/com/woowacourse/friendogly/chat/repository/PrivateChatRoomRepository.java
  backend/src/main/java/com/woowacourse/friendogly/chat/service/ChatService.java
  backend/src/main/java/com/woowacourse/friendogly/chat/service/PrivateChatRoomCommandService.java
  backend/src/main/java/com/woowacourse/friendogly/chat/service/PrivateChatRoomQueryService.java
  backend/src/main/java/com/woowacourse/friendogly/config/WebSocketConfig.java
  backend/src/test/java/com/woowacourse/friendogly/chat/service/ChatRoomServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/chat/service/PrivateChatRoomCommandServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/chat/service/PrivateChatRoomQueryServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/support/ServiceTest.java
Labels: 🖥 backend, ✨ feat

#258 [AN] refactor: 마이페이지 UI 개선
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageNavigationAction.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MypageBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/adapter/PetProfileAdapter.kt
  android/app/src/main/res/drawable/ic_empty_pet.xml
  android/app/src/main/res/drawable/shape_indicator_active.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/item_pet.xml
  android/app/src/main/res/layout/item_pet_add.xml
  android/app/src/main/res/layout/item_pet_profile.xml
  android/app/src/main/res/values/strings.xml
Labels: 🛠️ refactor, 🤖 android

#247 [AN] 멀티 권한 요청 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chatinfo/ChatInfoSideSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/permission/AlarmPermission.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/permission/LocationPermission.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/permission/MultiPermission.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/permission/Permission.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/permission/PermissionType.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofMapActions.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofPermissionRequester.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofSnackbarActions.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofViewModel.kt
  android/app/src/main/res/layout/fragment_woof.xml
  android/app/src/main/res/layout/layout_chat_drawer.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat
