Repository woowacourse-teams/2024-friendogly, pull requests merged in 2024-08, with the labels that each got.

#265 [AN] feat: 설정 페이지
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/happy/friendogly/presentation/dialog/DefaultCoralAlertDialog.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivityActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/permission/AlarmPermission.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/permission/LocationPermission.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingNavigationAction.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingViewModel.kt
  android/app/src/main/res/color/sel_switch_thumb.xml
  android/app/src/main/res/color/sel_switch_track.xml
  android/app/src/main/res/drawable/sel_dialog_coral400_fill_16.xml
  android/app/src/main/res/layout/activity_setting.xml
  android/app/src/main/res/layout/dialog_coral_default_alert.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/include_alarm_settings_contents.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: 🤖 android, ✨ feat

#271 [AN] refactor : 그룹 관련 로직 연결과 리팩토링
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/detail/GroupDetailActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/detail/GroupDetailNavigation.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/filter/GroupFilterViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/filter/bottom/ParticipationFilterBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/list/GroupListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/list/GroupListViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/menu/GroupMenuBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/menu/GroupMenuEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/menu/GroupMenuViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/modify/GroupModifyActivity.kt
  android/app/src/main/res/layout/activity_group_modify.xml
  android/app/src/main/res/layout/bottom_sheet_participation_filter_selector.xml
  android/app/src/main/res/layout/include_group_filter.xml
  android/app/src/main/res/layout/include_group_selector.xml
  android/app/src/main/res/layout/item_select_filter.xml
  android/app/src/main/res/values/strings.xml
Labels: 🛠️ refactor, 🤖 android

#274 [AN] feat: 사용자 프로필 및 신고/차단 기능 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/happy/friendogly/domain/model/Pet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/detail/GroupDetailActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/detail/GroupDetailActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/detail/GroupDetailEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/detail/GroupDetailViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/menu/GroupMenuBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileNavigationAction.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/adapter/OtherPetProfileAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/bottom/BottomUserMore.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/bottom/BottomUserReport.kt
  android/app/src/main/java/com/happy/friendogly/presentation/utils/EditTextExtension.kt
  android/app/src/main/java/com/happy/friendogly/presentation/utils/KeyboardExtensions.kt
  android/app/src/main/res/drawable/ic_check_box_checked.xml
  android/app/src/main/res/drawable/ic_check_box_not_check.xml
  android/app/src/main/res/drawable/sel_report_coral_round_checkbox.xml
  android/app/src/main/res/drawable/shape_white_fill_bottom_radius_24.xml
  android/app/src/main/res/layout/activity_group_detail.xml
  android/app/src/main/res/layout/activity_other_profile.xml
  android/app/src/main/res/layout/bottom_sheet_user_more.xml
  android/app/src/main/res/layout/bottom_sheet_user_report.xml
  android/app/src/main/res/layout/item_other_pet_profile.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: 🤖 android, ✨ feat

#277 [BE] hotfix: 배포 후 웹소켓 연결 안 되는 문제 해결
  backend/src/main/java/com/woowacourse/friendogly/config/WebSocketConfig.java
Labels: 🐞 bug, 🖥 backend

#269 [BE] feat: 모임 상세 조회 API 구현 및 검색 필터링 조건 추가
  backend/src/main/java/com/woowacourse/friendogly/club/controller/ClubController.java
  backend/src/main/java/com/woowacourse/friendogly/club/domain/Club.java
  backend/src/main/java/com/woowacourse/friendogly/club/domain/FilterCondition.java
  backend/src/main/java/com/woowacourse/friendogly/club/dto/request/FindSearchingClubRequest.java
  backend/src/main/java/com/woowacourse/friendogly/club/dto/request/SaveClubRequest.java
  backend/src/main/java/com/woowacourse/friendogly/club/dto/response/ClubMemberDetailResponse.java
  backend/src/main/java/com/woowacourse/friendogly/club/dto/response/ClubPetDetailResponse.java
  backend/src/main/java/com/woowacourse/friendogly/club/dto/response/FindClubResponse.java
  backend/src/main/java/com/woowacourse/friendogly/club/service/ClubCommandService.java
  backend/src/main/java/com/woowacourse/friendogly/club/service/ClubQueryService.java
  backend/src/main/java/com/woowacourse/friendogly/pet/domain/Pet.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/woowacourse/friendogly/club/service/ClubCommandServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/club/service/ClubQueryServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/docs/ClubApiDocsTest.java
Labels: 📝 docs, 🖥 backend, ✨ feat

#292 [AN] feat: 내 위치 등록 기능 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/happy/friendogly/application/di/AppModule.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/AddressMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/model/UserAddressDto.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/AddressRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/AddressDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/UserAddress.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/AddressRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/DeleteAddressUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetAddressUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/SaveAddressUseCase.kt
  android/app/src/main/java/com/happy/friendogly/local/di/AddressModule.kt
  android/app/src/main/java/com/happy/friendogly/local/source/AddressDataSourceImpl.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivityActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/list/GroupListActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/list/GroupListBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/list/GroupListEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/list/GroupListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/list/GroupListUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/list/GroupListViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mylocation/MyLocationBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mylocation/SettingMyLocationActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mylocation/SettingMyLocationActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mylocation/SettingMyLocationEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mylocation/SettingMyLocationViewModel.kt
  android/app/src/main/res/drawable/ic_marker_mine_clicked.xml
  android/app/src/main/res/drawable/ic_no_adress.xml
  android/app/src/main/res/layout/activity_setting_my_location.xml
  android/app/src/main/res/layout/fragment_group_list.xml
  android/app/src/main/res/layout/include_group_list_content.xml
  android/app/src/main/res/layout/include_group_not_address.xml
  android/app/src/main/res/layout/include_group_not_data.xml
  android/app/src/main/res/layout/include_group_selector.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#283 [BE] refactor: 모임 주소 정보 요청 및 저장 방식 변경
  backend/src/main/java/com/woowacourse/friendogly/club/controller/ClubController.java
  backend/src/main/java/com/woowacourse/friendogly/club/domain/Address.java
  backend/src/main/java/com/woowacourse/friendogly/club/domain/Club.java
  backend/src/main/java/com/woowacourse/friendogly/club/dto/request/FindClubByFilterRequest.java
  backend/src/main/java/com/woowacourse/friendogly/club/dto/request/SaveClubRequest.java
  backend/src/main/java/com/woowacourse/friendogly/club/dto/response/AddressDetailResponse.java
  backend/src/main/java/com/woowacourse/friendogly/club/dto/response/FindClubByFilterResponse.java
  backend/src/main/java/com/woowacourse/friendogly/club/dto/response/FindClubResponse.java
  backend/src/main/java/com/woowacourse/friendogly/club/dto/response/SaveClubResponse.java
  backend/src/main/java/com/woowacourse/friendogly/club/repository/ClubSpecification.java
  backend/src/main/java/com/woowacourse/friendogly/club/service/ClubCommandService.java
  backend/src/main/java/com/woowacourse/friendogly/club/service/ClubQueryService.java
  backend/src/main/java/com/woowacourse/friendogly/pet/domain/Gender.java
  backend/src/main/java/com/woowacourse/friendogly/pet/domain/SizeType.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/woowacourse/friendogly/club/domain/AddressTest.java
  backend/src/test/java/com/woowacourse/friendogly/club/domain/ClubMemberTest.java
  backend/src/test/java/com/woowacourse/friendogly/club/service/ClubCommandServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/club/service/ClubQueryServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/club/service/ClubServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/docs/ClubApiDocsTest.java
Labels: 🐞 bug, 🛠️ refactor, 🖥 backend

#293 [AN] feat: 프로필 편집
  android/app/src/main/java/com/happy/friendogly/data/mapper/MemberMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/model/MemberDto.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/Member.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/Pet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivityActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageNavigationAction.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/petdetail/PetDetailBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/petdetail/PetDetailUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfieSettingBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/model/Profile.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/utils/GlideImageBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/MemberDtoMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/MemberResponse.kt
  android/app/src/main/res/layout/activity_pet_detail.xml
  android/app/src/main/res/layout/activity_profile_setting.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/item_pet_detail.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#297 [AN] feat: 펫 프로필 편집
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/happy/friendogly/domain/model/Gender.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivityActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageNavigationAction.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerdog/RegisterDogNavigationAction.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerdog/RegisterDogUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerdog/RegisterDogViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetNavigationAction.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/bottom/EditPetBirthdayBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/bottom/EditPetProfileImageBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/model/PetProfile.kt
  android/app/src/main/java/com/happy/friendogly/presentation/utils/GlideImageBindingAdapters.kt
  android/app/src/main/res/layout/activity_pet_detail.xml
  android/app/src/main/res/layout/activity_register_pet.xml
  android/app/src/main/res/layout/bottom_sheet_dog_edit_birthday.xml
  android/app/src/main/res/layout/item_pet_detail.xml
  android/app/src/main/res/layout/item_pet_profile.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: 🤖 android, ✨ feat

#302 [BE] chore: 백엔드 PR에 대해서만 백엔드 CI를 돌리도록 수정, 테스트 결과 등록 다시 추가
  .github/workflows/backend-pull-request-ci.yml
Labels: 🧦 chore, 🖥 backend

#289 [BE] 발자국 산책 상태 변경 기능 구현
  backend/src/main/java/com/woowacourse/friendogly/footprint/controller/FootprintController.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/domain/Footprint.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/request/UpdateWalkStatusRequest.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/dto/response/UpdateWalkStatusResponse.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/repository/FootprintRepository.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/service/FootprintCommandService.java
  backend/src/test/java/com/woowacourse/friendogly/docs/FootprintApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/controller/FootprintControllerTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/domain/FootPrintTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintCommandServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintQueryServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintServiceTest.java
Labels: 🖥 backend, ✨ feat

#305 [AN] feat: 그룹 추가 도메인 적용과 api 구체화
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/happy/friendogly/domain/mapper/ClubAddressMapper.kt
  android/app/src/main/java/com/happy/friendogly/domain/mapper/ClubFilterMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/add/GroupAddActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/add/GroupAddActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/add/GroupAddBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/add/GroupAddEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/add/GroupAddNavigationAction.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/add/GroupAddViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/add/filter/GroupAddFilterFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/add/model/GroupCounter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/detail/GroupDetailBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/filter/GroupFilterViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/list/GroupListViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/model/GroupFilterSelector.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/select/DogSelectBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/select/DogSelectEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/select/DogSelectUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/select/DogSelectViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ClubService.kt
  android/app/src/main/res/drawable/rect_coral04_fill_8.xml
  android/app/src/main/res/layout/activity_group_add.xml
  android/app/src/main/res/layout/fragment_group_add_filter.xml
  android/app/src/main/res/layout/fragment_group_add_information.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#306 [AN] feat: Firebase Analytics 및 Crashlytics 를 활용하여 앱 사용자 데이터 수집
  android/app/build.gradle.kts
  android/app/src/main/java/com/happy/friendogly/analytics/AnalyticsHelper.kt
  android/app/src/main/java/com/happy/friendogly/analytics/ParamKeys.kt
  android/app/src/main/java/com/happy/friendogly/analytics/Types.kt
  android/app/src/main/java/com/happy/friendogly/application/di/AppModule.kt
  android/app/src/main/java/com/happy/friendogly/crashlytics/CrashlyticsHelper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/utils/AnalyticsHelperExtensions.kt
  android/build.gradle.kts
  android/gradle/libs.versions.toml
Labels: 🤖 android, ✨ feat

#308 [AN] feat: 멍개 API 연결
  android/app/src/main/java/com/happy/friendogly/domain/mapper/ClubAddressMapper.kt
  android/app/src/main/java/com/happy/friendogly/domain/mapper/ClubFilterMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/add/GroupAddViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/detail/GroupDetailActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/detail/GroupDetailEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/detail/GroupDetailViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/list/GroupListViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/menu/GroupMenuBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/menu/GroupMenuEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/menu/GroupMenuViewModel.kt
  android/app/src/main/res/layout/activity_group_add.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#294 [BE] 주변 발자국 조회 hotfix & 더미데이터 추가
  backend/src/main/java/com/woowacourse/friendogly/footprint/domain/Footprint.java
  backend/src/main/java/com/woowacourse/friendogly/footprint/service/FootprintQueryService.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/woowacourse/friendogly/footprint/controller/FootprintControllerTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/service/FootprintQueryServiceTest.java
Labels: 🐞 bug, 🖥 backend, ✨ feat

#313 [AN] feat: Unauthorized 에러 분기 처리
  android/app/src/main/java/com/happy/friendogly/application/di/AppModule.kt
  android/app/src/main/java/com/happy/friendogly/application/di/AuthenticationListenerImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/TokenRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/TokenDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/TokenRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/DeleteLocalDataUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/DeleteTokenUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/SaveJwtTokenUseCase.kt
  android/app/src/main/java/com/happy/friendogly/local/di/TokenManager.kt
  android/app/src/main/java/com/happy/friendogly/local/source/LocalDataSourceImpl.kt
  android/app/src/main/java/com/happy/friendogly/local/source/TokenDataSourceImpl.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/AuthenticationListener.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/Authenticator.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/RefreshService.kt
  android/app/src/main/java/com/happy/friendogly/remote/di/RemoteModule.kt
  android/app/src/main/java/com/happy/friendogly/remote/interceptor/AuthorizationInterceptor.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/JwtTokenResponse.kt
Labels: 🤖 android, ✨ feat

#315 [AN] fix: 멍개 API 테스트와 버그 수정
  android/app/src/main/java/com/happy/friendogly/data/mapper/ClubMemberMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/model/ClubMemberDto.kt
  android/app/src/main/java/com/happy/friendogly/domain/mapper/ClubDetailMapper.kt
  android/app/src/main/java/com/happy/friendogly/domain/mapper/ClubMapper.kt
  android/app/src/main/java/com/happy/friendogly/domain/mapper/ClubMemberMapper.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/ClubMember.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/add/GroupAddViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/list/GroupListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/list/GroupListUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/list/GroupListUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/list/GroupListViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/menu/GroupMenuBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/menu/GroupMenuBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/model/GroupFilterSelector.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/model/GroupWoof.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/group/model/groupfilter/GroupFilter.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ApiClient.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ClubService.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/ClubAddressMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/ClubMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/request/ClubAddressRequest.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/request/PostClubRequest.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/ClubDetailMemberResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/ClubSearchingResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/ClubDataSourceImpl.kt
  android/app/src/main/res/drawable/ic_error_load.xml
  android/app/src/main/res/layout/activity_group_add.xml
  android/app/src/main/res/layout/activity_group_detail.xml
  android/app/src/main/res/layout/activity_group_modify.xml
  android/app/src/main/res/layout/bottom_sheet_group_menu.xml
  android/app/src/main/res/layout/fragment_group_add_detail.xml
  android/app/src/main/res/layout/fragment_group_list.xml
  android/app/src/main/res/layout/include_group_error.xml
  android/app/src/main/res/layout/item_detail_profile.xml
  android/app/src/main/res/layout/item_dog_select_profile.xml
  android/app/src/main/res/layout/item_filter.xml
  android/app/src/main/res/layout/item_group.xml
  android/app/src/main/res/layout/item_select_filter.xml
  android/app/src/main/res/values/strings.xml
Labels: 🐞 bug, 🤖 android

#325 [AN] fix: 동네 설정 오류 수정
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mylocation/SettingMyLocationActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mylocation/SettingMyLocationViewModel.kt
  android/app/src/main/res/layout/fragment_group_list.xml
Labels: 🐞 bug, 🤖 android

#319 [AN] feat: 프로필 페이지 API 연결
  android/app/src/main/java/com/happy/friendogly/application/di/AppModule.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/MemberRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/PetRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/MemberDataSource.kt
  android/app/src/main/java/com/happy/friendogly/data/source/PetDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/MemberRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/PetRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetMemberUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetPetsUseCase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ApiClient.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/MemberService.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/PetService.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/MemberDataSourceImpl.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/PetDataSourceImpl.kt
Labels: 🤖 android, ✨ feat

#327 [AN] fix: 프로필 설정 페이지에서 jwt 저장되지 않는 이슈
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingViewModel.kt
Labels: 🐞 bug, 🤖 android

#322 [BE] feat: 카카오 인증 및 회원가입 / 로그인 기능
  .github/workflows/backend-cd-workflow.yml
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/woowacourse/friendogly/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/friendogly/auth/AuthArgumentResolver.java
  backend/src/main/java/com/woowacourse/friendogly/auth/controller/AuthController.java
  backend/src/main/java/com/woowacourse/friendogly/auth/domain/KakaoMember.java
  backend/src/main/java/com/woowacourse/friendogly/auth/dto/KakaoLoginRequest.java
  backend/src/main/java/com/woowacourse/friendogly/auth/dto/KakaoLoginResponse.java
  backend/src/main/java/com/woowacourse/friendogly/auth/dto/KakaoRefreshRequest.java
  backend/src/main/java/com/woowacourse/friendogly/auth/dto/KakaoTokenResponse.java
  backend/src/main/java/com/woowacourse/friendogly/auth/dto/KakaoUserResponse.java
  backend/src/main/java/com/woowacourse/friendogly/auth/dto/TokenResponse.java
  backend/src/main/java/com/woowacourse/friendogly/auth/repository/KakaoMemberRepository.java
  backend/src/main/java/com/woowacourse/friendogly/auth/service/AuthErrorHandler.java
  backend/src/main/java/com/woowacourse/friendogly/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/friendogly/auth/service/KakaoMemberService.java
  backend/src/main/java/com/woowacourse/friendogly/auth/service/KakaoOauthClient.java
  backend/src/main/java/com/woowacourse/friendogly/auth/service/jwt/JwtProperties.java
  backend/src/main/java/com/woowacourse/friendogly/auth/service/jwt/JwtProvider.java
  backend/src/main/java/com/woowacourse/friendogly/auth/service/jwt/TokenPayload.java
  backend/src/main/java/com/woowacourse/friendogly/config/WebConfig.java
  backend/src/main/java/com/woowacourse/friendogly/member/dto/request/SaveMemberRequest.java
  backend/src/main/java/com/woowacourse/friendogly/member/dto/response/SaveMemberResponse.java
  backend/src/main/java/com/woowacourse/friendogly/member/service/MemberCommandService.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/test/java/com/woowacourse/friendogly/docs/ClubApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/docs/FootprintApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/docs/MemberApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/docs/PetApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/docs/RestDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/footprint/controller/FootprintControllerTest.java
  backend/src/test/java/com/woowacourse/friendogly/member/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/friendogly/pet/controller/PetControllerTest.java
  backend/src/test/java/com/woowacourse/friendogly/support/ControllerTest.java
  backend/src/test/resources/application-local.yml
Labels: 🖥 backend, ✨ feat

#331 [AN] fix: 프로필 편집 UI 이슈 해결
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetViewModel.kt
  android/app/src/main/res/layout/activity_register_pet.xml
Labels: 🐞 bug, 🤖 android

#311 [BE] feat: 단체 채팅방 구현
  backend/src/main/java/com/woowacourse/friendogly/chat/controller/ChatController.java
  backend/src/main/java/com/woowacourse/friendogly/chat/controller/ChatRoomController.java
  backend/src/main/java/com/woowacourse/friendogly/chat/controller/ChatSocketController.java
  backend/src/main/java/com/woowacourse/friendogly/chat/controller/PrivateChatRoomController.java
  backend/src/main/java/com/woowacourse/friendogly/chat/domain/ChatRoom.java
  backend/src/main/java/com/woowacourse/friendogly/chat/domain/ChatRoomMember.java
  backend/src/main/java/com/woowacourse/friendogly/chat/domain/ChatRoomType.java
  backend/src/main/java/com/woowacourse/friendogly/chat/domain/MemberCapacity.java
  backend/src/main/java/com/woowacourse/friendogly/chat/domain/MessageType.java
  backend/src/main/java/com/woowacourse/friendogly/chat/domain/PrivateChatRoom.java
  backend/src/main/java/com/woowacourse/friendogly/chat/dto/request/InviteToChatRoomRequest.java
  backend/src/main/java/com/woowacourse/friendogly/chat/dto/request/SaveChatRoomRequest.java
  backend/src/main/java/com/woowacourse/friendogly/chat/dto/response/ChatMessageResponse.java
  backend/src/main/java/com/woowacourse/friendogly/chat/dto/response/ChatRoomDetail.java
  backend/src/main/java/com/woowacourse/friendogly/chat/dto/response/FindChatRoomMembersInfoResponse.java
  backend/src/main/java/com/woowacourse/friendogly/chat/dto/response/FindMyChatRoomResponse.java
  backend/src/main/java/com/woowacourse/friendogly/chat/dto/response/FindMyPrivateChatRoomResponse.java
  backend/src/main/java/com/woowacourse/friendogly/chat/dto/response/InvitePrivateChatRoomResponse.java
  backend/src/main/java/com/woowacourse/friendogly/chat/dto/response/InviteToChatRoomResponse.java
  backend/src/main/java/com/woowacourse/friendogly/chat/dto/response/SaveChatRoomResponse.java
  backend/src/main/java/com/woowacourse/friendogly/chat/repository/ChatRoomMemberRepository.java
  backend/src/main/java/com/woowacourse/friendogly/chat/repository/ChatRoomRepository.java
  backend/src/main/java/com/woowacourse/friendogly/chat/repository/PrivateChatRoomRepository.java
  backend/src/main/java/com/woowacourse/friendogly/chat/service/ChatRoomCommandService.java
  backend/src/main/java/com/woowacourse/friendogly/chat/service/ChatRoomQueryService.java
  backend/src/main/java/com/woowacourse/friendogly/chat/service/ChatService.java
  backend/src/main/java/com/woowacourse/friendogly/chat/service/PrivateChatRoomCommandService.java
  backend/src/main/java/com/woowacourse/friendogly/chat/service/PrivateChatRoomQueryService.java
  backend/src/main/java/com/woowacourse/friendogly/club/domain/Club.java
  backend/src/main/java/com/woowacourse/friendogly/club/dto/response/SaveClubMemberResponse.java
  backend/src/main/java/com/woowacourse/friendogly/club/dto/response/SaveClubResponse.java
  backend/src/main/java/com/woowacourse/friendogly/club/repository/ClubRepository.java
  backend/src/main/java/com/woowacourse/friendogly/club/service/ClubCommandService.java
  backend/src/main/java/com/woowacourse/friendogly/config/WebSocketConfig.java
  backend/src/main/java/com/woowacourse/friendogly/config/WebSocketErrorHandler.java
  backend/src/main/java/com/woowacourse/friendogly/config/WebSocketInterceptor.java
  backend/src/main/java/com/woowacourse/friendogly/exception/FriendoglyWebSocketException.java
  backend/src/main/java/com/woowacourse/friendogly/member/service/MemberQueryService.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/woowacourse/friendogly/chat/service/ChatRoomCommandServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/chat/service/ChatRoomQueryServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/chat/service/ChatRoomServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/chat/service/PrivateChatRoomCommandServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/chat/service/PrivateChatRoomQueryServiceTest.java
  backend/src/test/java/com/woowacourse/friendogly/docs/ClubApiDocsTest.java
  backend/src/test/java/com/woowacourse/friendogly/support/ServiceTest.java
Labels: 🖥 backend, ✨ feat

#336 [AN] 웹소켓 연결
  android/app/build.gradle.kts
  android/app/src/main/java/com/happy/friendogly/application/di/AppModule.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/ChatMemberMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/MessageMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/model/ChatMemberDto.kt
  android/app/src/main/java/com/happy/friendogly/data/model/ChatRoomDto.kt
  android/app/src/main/java/com/happy/friendogly/data/model/ChatRoomListDto.kt
  android/app/src/main/java/com/happy/friendogly/data/model/MessageDto.kt
  android/app/src/main/java/com/happy/friendogly/data/model/MessageTypeDto.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/ChatRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/WebSocketRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/WebSocketDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/ChatComponent.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/ChatMember.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/ChatRoom.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/ChatRooms.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/Message.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/ChatRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/WebSocketRepository.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/ChatBindingAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/ChatListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/ChatListMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/ChatListViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/adapter/ChatListAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chat/ChatActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chat/ChatViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/uimodel/ChatListUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/uimodel/ChatUiMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ApiClient.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ChatService.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/WebSocketService.kt
  android/app/src/main/java/com/happy/friendogly/remote/di/RemoteModule.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/ChatMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/ChatRoomMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/request/ChatMessageRequest.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/ChatClubMemberResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/ChatMessageResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/ChatRoomListResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/ChatRoomResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/MessageTypeResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/WebSocketDataSourceImpl.kt
  android/app/src/main/java/com/happy/friendogly/remote/util/LocalDateTimeSerializer.kt
  android/app/src/main/res/layout/item_chat_list.xml
  android/app/src/main/res/layout/item_chat_other.xml
  android/app/src/main/res/values/styles.xml
  android/gradle/libs.versions.toml
Labels: 🤖 android, ✨ feat

#342 [AN] hotfix: 불필요한 더미데이터 제거
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/ChatListViewModel.kt
Labels: 🐞 bug, 🤖 android

#341 [AN] chore: 베타 서비스 출시를 위한 버전 업데이트
  android/app/build.gradle.kts
Labels: 🧦 chore, 🤖 android

#343 [BE] chore: 더미 데이터의 이미지 URL을 실제 데이터와 유사하게 수정
  backend/src/main/resources/data.sql
Labels: 🧦 chore, 🖥 backend

#344 [AN] fix: 그룹 디테일 로드 오류 수정
  android/app/src/main/java/com/happy/friendogly/data/model/ChatRoomDto.kt
  android/app/src/main/java/com/happy/friendogly/data/model/ClubDetailDto.kt
  android/app/src/main/java/com/happy/friendogly/data/model/ClubDto.kt
  android/app/src/main/java/com/happy/friendogly/data/model/ClubPetDto.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/ChatRoom.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/Club.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/ClubDetail.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/ClubPet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/uimodel/ChatListUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/mapper/ClubDetailMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/mapper/ClubMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/mapper/ClubMemberMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/menu/ClubMenuViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ClubService.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/ChatRoomResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/ClubDetailPetResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/ClubDetailResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/ClubResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/ClubDataSourceImpl.kt
  android/app/src/main/res/layout/fragment_club_add_information.xml
  android/app/src/main/res/layout/fragment_club_list.xml
  android/app/src/main/res/layout/item_chat_list.xml
  android/app/src/main/res/layout/item_club.xml
Labels: 🐞 bug, 🤖 android

#346 [AN] feat: 채팅 전체 리스트 refresh 기능 구현
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/ChatListFragment.kt
  android/app/src/main/res/layout/fragment_chat_list.xml
Labels: 🤖 android, ✨ feat

#363 [BE] 초기 프로젝트 설정
  backend/src/main/java/com/happy/friendogly/image/ImageController.java
  backend/src/main/java/com/happy/friendogly/infra/FakeS3StorageManager.java
  backend/src/main/java/com/happy/friendogly/infra/S3StorageManager.java
  backend/src/main/java/com/happy/friendogly/member/service/MemberCommandService.java
  backend/src/main/java/com/happy/friendogly/test/TestController.java
  backend/src/main/resources/application-dev.yml
Labels: 🖥 backend

#361 [AN] refactor: 채팅 리팩터링
  android/app/src/main/java/com/happy/friendogly/application/di/AppModule.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/MessageMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/ChatRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/WebSocketRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/ChatDataSource.kt
  android/app/src/main/java/com/happy/friendogly/data/source/WebSocketDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/WebSocketRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetChatListUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetChatMemberUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/PublishEnterUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/PublishLeaveUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/PublishSendMessageUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/SubScribeMessageUseCase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/ChatListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/ChatListViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/adapter/ChatListAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chat/ChatActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chat/ChatNavigationAction.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chat/ChatUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chat/ChatViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chat/adapter/ChatAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chat/adapter/ChatViewHolder.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chatinfo/ChatInfoMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chatinfo/ChatInfoSideSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chatinfo/ChatInfoUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chatinfo/ChatInfoViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chatinfo/JoinPeopleAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/uimodel/ChatUiMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ChatService.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/ChatDataSourceImpl.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/WebSocketDataSourceImpl.kt
  android/app/src/main/res/layout/item_chat_join_people.xml
  android/app/src/main/res/layout/item_chat_other.xml
Labels: 🛠️ refactor, 🤖 android

#241 [AN] feat: 에러 핸들링
  android/app/src/main/java/com/happy/friendogly/data/error/ApiExceptionDto.kt
  android/app/src/main/java/com/happy/friendogly/data/error/ErrorCodeDto.kt
  android/app/src/main/java/com/happy/friendogly/data/error/ErrorDataDto.kt
  android/app/src/main/java/com/happy/friendogly/data/error/ErrorDto.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/ErrorMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/RegisterMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/AuthRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/MemberRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/domain/Result.kt
  android/app/src/main/java/com/happy/friendogly/domain/error/DataError.kt
  android/app/src/main/java/com/happy/friendogly/domain/error/Error.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/AuthRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/PostKakaoLoginUseCase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/base/BaseViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterMessage.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/error/ApiExceptionHandler.kt
  android/app/src/main/java/com/happy/friendogly/remote/error/ApiExceptionResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/error/ErrorCodeResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/error/ErrorDataResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/error/ErrorResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/interceptor/ErrorResponseInterceptor.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/ApiExceptionMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/error/ErrorResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/error/ErrorResponseImpl.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/error/Exceptions.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/AuthDataSourceImpl.kt
Labels: 🤖 android, ✨ feat

#356 [AN] refactor: 그룹 관련 데이터 재로드 구현
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivityActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailNavigation.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/menu/ClubMenuBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/menu/ClubMenuViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mylocation/SettingMyLocationActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mylocation/SettingMyLocationEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mylocation/SettingMyLocationViewModel.kt
Labels: 🤹 enhance, 🤖 android

#359 [AN] fix: 각종 에러 처리 + 리팩터링
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/ChatListMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/adapter/ChatListAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/utils/GlideImageBindingAdapters.kt
  android/app/src/main/res/layout/activity_club_detail.xml
  android/app/src/main/res/layout/activity_other_profile.xml
  android/app/src/main/res/layout/activity_register_pet.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/item_chat_other.xml
  android/app/src/main/res/layout/item_club_pet_image.xml
  android/app/src/main/res/layout/item_detail_profile.xml
  android/app/src/main/res/layout/item_other_pet_profile.xml
  android/app/src/main/res/layout/item_pet_profile.xml
Labels: 🐞 bug, 🛠️ refactor, 🤖 android

#376 [BE] refactor: 사용하지 않는 필드 제거
  backend/src/main/java/com/happy/friendogly/member/domain/Email.java
  backend/src/main/java/com/happy/friendogly/member/domain/Member.java
  backend/src/main/java/com/happy/friendogly/member/dto/request/SaveMemberRequest.java
  backend/src/main/java/com/happy/friendogly/member/dto/response/FindMemberResponse.java
  backend/src/main/java/com/happy/friendogly/member/dto/response/SaveMemberResponse.java
  backend/src/main/java/com/happy/friendogly/member/service/MemberCommandService.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/happy/friendogly/chat/service/ChatRoomCommandServiceTest.java
  backend/src/test/java/com/happy/friendogly/chat/service/ChatRoomQueryServiceTest.java
  backend/src/test/java/com/happy/friendogly/chat/service/ChatRoomServiceTest.java
  backend/src/test/java/com/happy/friendogly/club/controller/ClubControllerTest.java
  backend/src/test/java/com/happy/friendogly/club/domain/ClubMemberTest.java
  backend/src/test/java/com/happy/friendogly/club/service/ClubCommandServiceTest.java
  backend/src/test/java/com/happy/friendogly/club/service/ClubServiceTest.java
  backend/src/test/java/com/happy/friendogly/docs/MemberApiDocsTest.java
  backend/src/test/java/com/happy/friendogly/footprint/controller/FootprintControllerTest.java
  backend/src/test/java/com/happy/friendogly/footprint/domain/FootPrintTest.java
  backend/src/test/java/com/happy/friendogly/footprint/service/FootprintCommandServiceTest.java
  backend/src/test/java/com/happy/friendogly/footprint/service/FootprintQueryServiceTest.java
  backend/src/test/java/com/happy/friendogly/footprint/service/FootprintServiceTest.java
  backend/src/test/java/com/happy/friendogly/member/controller/MemberControllerTest.java
  backend/src/test/java/com/happy/friendogly/member/domain/MemberTest.java
  backend/src/test/java/com/happy/friendogly/pet/controller/PetControllerTest.java
  backend/src/test/java/com/happy/friendogly/pet/domain/PetTest.java
Labels: 🛠️ refactor, 🖥 backend

#383 [AN] hotfix: 프로필 정보 이메일 필드 사리짐 대응
  android/app/src/main/java/com/happy/friendogly/data/mapper/MemberMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/RegisterMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/model/MemberDto.kt
  android/app/src/main/java/com/happy/friendogly/data/model/RegisterDto.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/MemberRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/MemberDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/Member.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/Register.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/MemberRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/PostMemberUseCase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/MemberDtoMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/RegisterDtoMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/request/PostMembersRequest.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/MemberResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/RegisterResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/MemberDataSourceImpl.kt
  android/app/src/main/res/layout/activity_other_profile.xml
  android/app/src/main/res/layout/fragment_my_page.xml
Labels: 🐞 bug, 🤖 android

#384 [AN] hotfix: 주소 등록 오류 수정
  android/app/src/main/java/com/happy/friendogly/data/mapper/AddressMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/model/ClubAddressDto.kt
  android/app/src/main/java/com/happy/friendogly/data/model/UserAddressDto.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/AddressRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/ClubAddress.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/UserAddress.kt
  android/app/src/main/java/com/happy/friendogly/local/di/AddressModule.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/mapper/ClubAddressMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mylocation/MyLocationBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mylocation/SettingMyLocationViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ClubService.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/request/PostClubRequest.kt
  android/app/src/main/res/layout/fragment_club_add_information.xml
  android/app/src/main/res/layout/fragment_club_list.xml
Labels: 🐞 bug, 🤖 android

#386 [AN] chore: v0.2.2 업데이트
  android/app/build.gradle.kts
Labels: 🧦 chore, 🤖 android

#379 [BE] 모임 필터링 주소 검색 기준 province로 변경
  backend/src/main/java/com/happy/friendogly/club/domain/Address.java
  backend/src/main/java/com/happy/friendogly/club/dto/request/FindClubByFilterRequest.java
  backend/src/main/java/com/happy/friendogly/club/repository/ClubSpecification.java
  backend/src/main/java/com/happy/friendogly/club/service/ClubQueryService.java
  backend/src/test/java/com/happy/friendogly/club/domain/AddressTest.java
  backend/src/test/java/com/happy/friendogly/club/service/ClubQueryServiceTest.java
  backend/src/test/java/com/happy/friendogly/docs/ClubApiDocsTest.java
Labels: 🛠️ refactor, 🖥 backend

#388 [BE] fix: 같은 kakaoMemberId로 여러 회원이 등록되는 현상 수정
  backend/src/main/java/com/happy/friendogly/auth/domain/KakaoMember.java
  backend/src/test/java/com/happy/friendogly/kakaoMember/repository/KakaoMemberRepositoryTest.java
Labels: 🐞 bug, 🖥 backend

#390 [AN] fix: v0.2.1 QA 프로필 버그 및 개선 사항 수정
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ApiClient.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/PetService.kt
  android/app/src/main/res/layout/activity_profile_setting.xml
  android/app/src/main/res/values/strings.xml
Labels: 🐞 bug, 🤖 android

#392 [AN] refactor: 그룹 관련 이슈 수정
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/happy/friendogly/local/source/AddressDataSourceImpl.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/mapper/ClubAddressMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/mapper/ClubDetailMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/mapper/ClubFilterMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/mapper/ClubMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/mapper/ClubMemberMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/mapper/ClubStateMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailNavigation.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/adapter/DetailProfileAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/adapter/DetailProfileViewHolder.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/model/ClubDetailProfileUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/club/MyClubViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/head/MyHeadClubViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/select/PetSelectUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/PetImageActivity.kt
  android/app/src/main/res/drawable/ic_un_check.xml
  android/app/src/main/res/drawable/progressbar_linear_progress.xml
  android/app/src/main/res/drawable/rect_coral100_fill_12.xml
  android/app/src/main/res/drawable/rect_gary03_fill_12.xml
  android/app/src/main/res/drawable/sel_club_background_filter_menu.xml
  android/app/src/main/res/layout/activity_club_detail.xml
  android/app/src/main/res/layout/activity_club_modify.xml
  android/app/src/main/res/layout/activity_pet_image.xml
  android/app/src/main/res/layout/bottom_sheet_dog_selector.xml
  android/app/src/main/res/layout/bottom_sheet_filter_size_selector.xml
  android/app/src/main/res/layout/bottom_sheet_gender_filter_selector.xml
  android/app/src/main/res/layout/fragment_club_add_information.xml
  android/app/src/main/res/layout/fragment_club_list.xml
  android/app/src/main/res/layout/include_club_filter.xml
  android/app/src/main/res/layout/item_club.xml
  android/app/src/main/res/layout/item_detail_profile.xml
  android/app/src/main/res/layout/item_filter.xml
  android/app/src/main/res/layout/item_selected_filter_menu.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: 🐞 bug, 🤹 enhance, 🤖 android

#381 [BE] feat: 채팅방에서 모임 정보 조회 API 구현
  backend/src/main/java/com/happy/friendogly/chat/controller/ChatRoomController.java
  backend/src/main/java/com/happy/friendogly/chat/dto/response/FindClubDetailsResponse.java
  backend/src/main/java/com/happy/friendogly/chat/service/ChatRoomQueryService.java
  backend/src/test/java/com/happy/friendogly/chat/service/ChatRoomQueryServiceTest.java
  backend/src/test/java/com/happy/friendogly/docs/ChatRoomApiDocsTest.java
Labels: 🔎 test, 🖥 backend, ✨ feat

#394 [AN] 멍멍짖기 피드백 반영 및 오류 수정
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/happy/friendogly/presentation/base/BaseFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofActionHandler.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofSnackbarActions.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofViewModel.kt
  android/app/src/main/res/layout/fragment_woof.xml
  android/app/src/main/res/layout/item_footprint_info_pet_detail.xml
  android/app/src/main/res/values/strings.xml
Labels: 🐞 bug, 🤹 enhance, 🤖 android

#404 [AN] fix: v0.2.1 QA 펫 상세, 등록 페이지 이슈
  android/app/src/main/java/com/happy/friendogly/presentation/utils/GlideImageBindingAdapters.kt
  android/app/src/main/res/layout/activity_register_pet.xml
  android/app/src/main/res/layout/item_pet_detail.xml
  android/app/src/main/res/values/strings.xml
Labels: 🐞 bug, 🤖 android

#405 [AN] fix: v0.2.1 QA 마이페이지 이슈
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageViewModel.kt
  android/app/src/main/res/layout/item_pet_add.xml
  android/app/src/main/res/values/strings.xml
Labels: 🐞 bug, 🤖 android

#312 [AN] feat: FCM 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/happy/friendogly/application/FriendoglyApplication.kt
  android/app/src/main/java/com/happy/friendogly/application/di/AppModule.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/AlarmTokenMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/model/AlarmTokenDto.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/AlarmSettingRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/AlarmTokenRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/AlarmSettingDataSource.kt
  android/app/src/main/java/com/happy/friendogly/data/source/AlarmTokenDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/AlarmSettingRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/AlarmTokenRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/DeleteAlarmSettingUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetAlarmSettingUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/SaveAlamTokenUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/SaveAlarmSettingUseCase.kt
  android/app/src/main/java/com/happy/friendogly/local/di/AlarmModule.kt
  android/app/src/main/java/com/happy/friendogly/local/di/AlarmTokenModule.kt
  android/app/src/main/java/com/happy/friendogly/local/source/AlarmSettingDataSourceImpl.kt
  android/app/src/main/java/com/happy/friendogly/presentation/alarm/AlarmReceiver.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/AlarmTokenService.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ApiClient.kt
  android/app/src/main/java/com/happy/friendogly/remote/di/RemoteModule.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/request/DeviceTokenRequest.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/AlamTokenDataSourceImpl.kt
Labels: 🤖 android, ✨ feat

#411 [AN] refactor: 강아지 등록 요구 기능 구현
  android/app/src/main/java/com/happy/friendogly/presentation/dialog/PetAddAlertDialog.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListViewModel.kt
  android/app/src/main/res/drawable/ic_funny_dog.xml
  android/app/src/main/res/drawable/sel_dialog_coral300_fill_16.xml
  android/app/src/main/res/layout/dialog_pet_add_alert.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: 🤹 enhance, 🤖 android

#415 [AN] refactor: 앱 ui 수정
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/happy/friendogly/application/FriendoglyApplication.kt
  android/app/src/main/res/layout/activity_chat.xml
  android/app/src/main/res/layout/activity_club_add.xml
  android/app/src/main/res/layout/activity_club_detail.xml
  android/app/src/main/res/layout/activity_club_modify.xml
  android/app/src/main/res/layout/activity_my_club.xml
  android/app/src/main/res/layout/activity_other_profile.xml
  android/app/src/main/res/layout/activity_pet_detail.xml
  android/app/src/main/res/layout/activity_register.xml
  android/app/src/main/res/layout/activity_register_pet.xml
  android/app/src/main/res/layout/activity_setting.xml
  android/app/src/main/res/layout/activity_setting_my_location.xml
  android/app/src/main/res/layout/fragment_chat_list.xml
  android/app/src/main/res/layout/fragment_club_list.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/item_chat_other.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: 🛠️ refactor, 🤖 android, 🖌️style

#414 [AN] feat: 프로필 세팅 페이지 에러 핸들링
  android/app/src/main/java/com/happy/friendogly/data/error/ErrorCodeDto.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/ErrorMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/AuthRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/MemberRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/TokenRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/domain/DomainResult.kt
  android/app/src/main/java/com/happy/friendogly/domain/Result.kt
  android/app/src/main/java/com/happy/friendogly/domain/error/DataError.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/AuthRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/MemberRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/TokenRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/PostKakaoLoginUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/PostMemberUseCase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/dialog/LoadingDialog.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingMessage.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterMessage.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/error/ErrorCodeResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/ApiExceptionMapper.kt
  android/app/src/main/res/layout/dialog_loading.xml
  android/app/src/main/res/values/strings.xml
  android/gradle/libs.versions.toml
Labels: 🤖 android, ✨ feat

#422 [AN] fix: 채팅 오류 수정
  android/app/src/main/java/com/happy/friendogly/application/di/AppModule.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/WebSocketRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/WebSocketDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/WebSocketRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/ConnectWebsocketUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/DisconnectWebsocketUseCase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chat/ChatActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chat/ChatViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chat/adapter/ChatAdapter.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/WebSocketService.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/WebSocketDataSourceImpl.kt
  android/app/src/main/res/layout/activity_chat.xml
Labels: 🐞 bug, 🛠️ refactor, 🤖 android

#410 [BE] feat: 이미지 S3 삭제 구현, Pet 도메인에 적용
  backend/src/main/java/com/happy/friendogly/infra/FakeS3StorageManager.java
  backend/src/main/java/com/happy/friendogly/infra/FileStorageManager.java
  backend/src/main/java/com/happy/friendogly/infra/S3StorageManager.java
  backend/src/main/java/com/happy/friendogly/pet/service/PetCommandService.java
Labels: 🖥 backend, ✨ feat

#424 [BE] 모임 수정 API 및 모임 참여 탈퇴 정원에 따른 상태 변경 로직
  backend/src/main/java/com/happy/friendogly/club/controller/ClubController.java
  backend/src/main/java/com/happy/friendogly/club/domain/Club.java
  backend/src/main/java/com/happy/friendogly/club/domain/Status.java
  backend/src/main/java/com/happy/friendogly/club/dto/request/UpdateClubRequest.java
  backend/src/main/java/com/happy/friendogly/club/dto/response/UpdateClubResponse.java
  backend/src/main/java/com/happy/friendogly/club/service/ClubCommandService.java
  backend/src/test/java/com/happy/friendogly/club/service/ClubCommandServiceTest.java
  backend/src/test/java/com/happy/friendogly/docs/ClubApiDocsTest.java
Labels: 🛠️ refactor, 🖥 backend, ✨ feat

#440 [BE] feat: 로그아웃 기능 구현
  .github/workflows/backend-cd-workflow.yml
  backend/src/main/java/com/happy/friendogly/auth/controller/AuthController.java
  backend/src/main/java/com/happy/friendogly/auth/repository/KakaoMemberRepository.java
  backend/src/main/java/com/happy/friendogly/auth/service/KakaoMemberService.java
  backend/src/main/java/com/happy/friendogly/auth/service/KakaoOauthClient.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/data.sql
  backend/src/test/resources/application-local.yml
Labels: 🖥 backend, ✨ feat

#378 [BE] feat: 주변 발자국 알림 기능 구현
  .github/workflows/backend-cd-workflow.yml
  .github/workflows/backend-pull-request-ci.yml
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/happy/friendogly/common/ErrorCode.java
  backend/src/main/java/com/happy/friendogly/config/FirebaseAppConfig.java
  backend/src/main/java/com/happy/friendogly/footprint/repository/FootprintRepository.java
  backend/src/main/java/com/happy/friendogly/footprint/service/FootprintCommandService.java
  backend/src/main/java/com/happy/friendogly/member/service/MemberCommandService.java
  backend/src/main/java/com/happy/friendogly/notification/controller/DeviceTokenController.java
  backend/src/main/java/com/happy/friendogly/notification/domain/DeviceToken.java
  backend/src/main/java/com/happy/friendogly/notification/domain/NotificationType.java
  backend/src/main/java/com/happy/friendogly/notification/dto/request/UpdateDeviceTokenRequest.java
  backend/src/main/java/com/happy/friendogly/notification/dto/response/UpdateDeviceTokenResponse.java
  backend/src/main/java/com/happy/friendogly/notification/repository/DeviceTokenRepository.java
  backend/src/main/java/com/happy/friendogly/notification/service/DeviceTokenCommandService.java
  backend/src/main/java/com/happy/friendogly/notification/service/FakeNotificationService.java
  backend/src/main/java/com/happy/friendogly/notification/service/FcmNotificationService.java
  backend/src/main/java/com/happy/friendogly/notification/service/NotificationService.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/data.sql
  backend/src/test/java/com/happy/friendogly/docs/DeviceTokenApiDocsTest.java
  backend/src/test/java/com/happy/friendogly/footprint/controller/FootprintControllerTest.java
  backend/src/test/java/com/happy/friendogly/footprint/domain/FootPrintTest.java
  backend/src/test/java/com/happy/friendogly/footprint/service/FootprintQueryServiceTest.java
  backend/src/test/java/com/happy/friendogly/footprint/service/FootprintServiceTest.java
  backend/src/test/java/com/happy/friendogly/notification/service/DeviceTokenCommandServiceTest.java
  backend/src/test/java/com/happy/friendogly/support/ServiceTest.java
Labels: 🖥 backend, ✨ feat

#439 [AN] refactor: 모임 등록 & 강아지 선택 UI 개선
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/detail/ClubAddDetailFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/select/PetSelectBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/select/PetSelectBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/select/PetSelectEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/select/PetSelectUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/select/PetSelectViewModel.kt
  android/app/src/main/res/drawable/rect_black_gradient_fill_16.xml
  android/app/src/main/res/drawable/rect_transparent_gray_fill_radius16.xml
  android/app/src/main/res/drawable/rect_white_fill_radius16.xml
  android/app/src/main/res/layout/bottom_sheet_dog_selector.xml
  android/app/src/main/res/layout/fragment_club_add_detail.xml
  android/app/src/main/res/layout/fragment_club_add_filter.xml
  android/app/src/main/res/layout/fragment_club_add_information.xml
  android/app/src/main/res/layout/item_club_select_profile.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: 🤹 enhance, 🤖 android

#441 [AN] feat: 펫 등록 에러 핸들링
  android/app/src/main/java/com/happy/friendogly/data/repository/PetRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/PetRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/PostPetUseCase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetMessage.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetViewModel.kt
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#452 [BE] fix : 필드 오류 수정
  backend/src/main/java/com/happy/friendogly/club/dto/response/FindClubResponse.java
Labels: 🐞 bug, 🖥 backend

#443 [AN] feat: 회원가입 에러 핸들링
  android/app/src/main/java/com/happy/friendogly/data/repository/KakaoLoginRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/TokenRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/KakaoLoginRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/TokenRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetJwtTokenUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/KakaoLoginUseCase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterMessage.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterViewModel.kt
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#444 [AN] feat: 설정 에러 핸들링
  android/app/src/main/java/com/happy/friendogly/data/repository/TokenRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/TokenRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/DeleteTokenUseCase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingMessage.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingViewModel.kt
Labels: 🤖 android, ✨ feat

#447 [AN] feat: 사용자 프로필 페이지 에러 핸들링
  android/app/src/main/java/com/happy/friendogly/data/repository/MemberRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/PetRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/MemberRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/PetRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetMemberUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetPetsUseCase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileMessage.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/petdetail/PetDetailActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/petdetail/PetDetailUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/petdetail/PetDetailViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/petdetail/adapter/PetDetailAdapter.kt
  android/app/src/main/res/layout/activity_other_profile.xml
Labels: 🤖 android, ✨ feat

#456 [BE] hotfix: 주변 디바이스 토큰 조회시, 500에러 발생하는 버그 수정
  backend/src/main/java/com/happy/friendogly/footprint/service/FootprintCommandService.java
Labels: 🐞 bug, 🖥 backend

#457 [AN] refactor: 모임 참여 로직 개선
  android/app/src/main/java/com/happy/friendogly/data/mapper/ClubDetailMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/ClubParticipationMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/model/ClubDetailDto.kt
  android/app/src/main/java/com/happy/friendogly/data/model/ClubParticipationDto.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/ClubRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/ClubDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/ClubDetail.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/ClubParticipation.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/ClubRepository.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/mapper/ClubDetailMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ClubService.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/ClubDetailMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/ClubParticipationMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/ClubDetailResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/ClubParticipationResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/ClubDataSourceImpl.kt
  android/app/src/main/res/values/strings.xml
Labels: 🛠️ refactor, 🤖 android, ✨ feat

#451 [BE] feat: 채팅을 보낼 때 FCM으로 데이터를 같이 전송
  backend/src/main/java/com/happy/friendogly/chat/controller/ChatSocketController.java
  backend/src/main/java/com/happy/friendogly/notification/repository/DeviceTokenRepository.java
  backend/src/main/java/com/happy/friendogly/notification/service/FakeNotificationService.java
  backend/src/main/java/com/happy/friendogly/notification/service/FcmNotificationService.java
  backend/src/main/java/com/happy/friendogly/notification/service/NotificationService.java
  backend/src/test/java/com/happy/friendogly/notification/repository/DeviceTokenRepositoryTest.java
Labels: 🖥 backend, ✨ feat

#474 [BE] hotfix: 웹소켓 무한로딩 해결
  backend/src/main/java/com/happy/friendogly/config/WebSocketInterceptor.java
Labels: 🐞 bug, 🖥 backend

#460 [BE] feat: 발자국 삭제 및 발자국 상태 수동 변경 구현
  backend/src/main/java/com/happy/friendogly/common/ErrorCode.java
  backend/src/main/java/com/happy/friendogly/footprint/controller/FootprintController.java
  backend/src/main/java/com/happy/friendogly/footprint/domain/Footprint.java
  backend/src/main/java/com/happy/friendogly/footprint/dto/request/UpdateWalkStatusAutoRequest.java
  backend/src/main/java/com/happy/friendogly/footprint/dto/request/UpdateWalkStatusManualRequest.java
  backend/src/main/java/com/happy/friendogly/footprint/dto/response/UpdateWalkStatusAutoResponse.java
  backend/src/main/java/com/happy/friendogly/footprint/dto/response/UpdateWalkStatusManualResponse.java
  backend/src/main/java/com/happy/friendogly/footprint/dto/response/UpdateWalkStatusResponse.java
  backend/src/main/java/com/happy/friendogly/footprint/repository/FootprintRepository.java
  backend/src/main/java/com/happy/friendogly/footprint/service/FootprintCommandService.java
  backend/src/test/java/com/happy/friendogly/docs/FootprintApiDocsTest.java
  backend/src/test/java/com/happy/friendogly/footprint/controller/FootprintControllerTest.java
  backend/src/test/java/com/happy/friendogly/footprint/service/FootprintCommandServiceTest.java
Labels: 🖥 backend, ✨ feat

#476 [BE] chore: H2 콘솔 추가
  .github/workflows/backend-cd-workflow.yml
  backend/src/main/resources/application-dev.yml
Labels: 🧦 chore, 🖥 backend

#472 [BE] 모임 단건 조회 응답에 채팅방 ID 추가
  backend/src/main/java/com/happy/friendogly/auth/repository/KakaoMemberRepository.java
  backend/src/main/java/com/happy/friendogly/club/domain/Club.java
  backend/src/main/java/com/happy/friendogly/club/domain/ClubMember.java
  backend/src/main/java/com/happy/friendogly/club/domain/ClubMemberId.java
  backend/src/main/java/com/happy/friendogly/club/domain/ClubPet.java
  backend/src/main/java/com/happy/friendogly/club/domain/ClubPetId.java
  backend/src/main/java/com/happy/friendogly/club/domain/Status.java
  backend/src/main/java/com/happy/friendogly/club/dto/response/ClubPetDetailResponse.java
  backend/src/main/java/com/happy/friendogly/club/dto/response/FindClubResponse.java
  backend/src/main/java/com/happy/friendogly/club/dto/response/SaveClubResponse.java
  backend/src/main/java/com/happy/friendogly/club/repository/ClubRepository.java
  backend/src/main/java/com/happy/friendogly/club/service/ClubQueryService.java
  backend/src/test/java/com/happy/friendogly/club/service/ClubQueryServiceTest.java
  backend/src/test/java/com/happy/friendogly/docs/ClubApiDocsTest.java
Labels: 🛠️ refactor, 🖥 backend, ✨ feat

#466 [AN] hotfix: 모임 참여 로직 오류 수정
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/mapper/ClubDetailMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/model/ClubDetailViewType.kt
Labels: 🐞 bug, 🤖 android

#450 [AN] feat: 내가 만든 & 방장인 모임 구체화
  android/app/src/main/java/com/happy/friendogly/application/di/AppModule.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/MyClubRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/MyClubDataSource.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/ClubChangeStateIntent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/MyClubActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/MyClubEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/MyClubViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/adapter/MyClubAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/head/MyHeadClubFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/head/MyHeadClubViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/participating/MyParticipatingClubViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/participating/MyParticipatingFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/select/PetSelectViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mylocation/SettingMyLocationActivity.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ApiClient.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/MyClubService.kt
  android/app/src/main/java/com/happy/friendogly/remote/di/RemoteModule.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/MyClubDataSourceImpl.kt
  android/app/src/main/res/layout/activity_club_add.xml
  android/app/src/main/res/layout/fragment_my_club.xml
Labels: 🤖 android, ✨ feat

#478 [AN] feat: Android Google Play Store 배포 자동화
  .github/workflows/android-cd.yml
  android/app/build.gradle.kts
Labels: 🚀 CI / CD, 🤖 android

#437 [BE] refactor: ChatRoomController 공통 응답 적용
  backend/src/main/java/com/happy/friendogly/chat/controller/ChatRoomController.java
  backend/src/test/java/com/happy/friendogly/docs/ChatRoomApiDocsTest.java
Labels: 🛠️ refactor, 🖥 backend

#485 [AN] chore: v0.3.4 버전 업데이트
  .github/workflows/android-cd.yml
  android/app/build.gradle.kts
  android/gradle/libs.versions.toml
Labels: 🧦 chore, 🤖 android

#489 [AN] chore: v0.3.5 업데이트
  android/gradle/libs.versions.toml
Labels: 🧦 chore, 🤖 android

#492 [AN] hotfix: 바텀 네비게이션 전환 안되는 이슈 해결
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/ChatListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofFragment.kt
Labels: 🐞 bug, 🤖 android

#494 [AN] chore: v0.3.6 업데이트 및 배포
  android/gradle/libs.versions.toml
Labels: 🧦 chore, 🤖 android

#498 [BE] feat: 채팅방에서 모임 상세 조회할 때 `myMemberId` 필드도 같이 응답
  backend/src/main/java/com/happy/friendogly/chat/dto/response/FindClubDetailsResponse.java
  backend/src/main/java/com/happy/friendogly/chat/service/ChatRoomQueryService.java
  backend/src/test/java/com/happy/friendogly/docs/ChatRoomApiDocsTest.java
Labels: 🤹 enhance, 🖥 backend, ✨ feat

#490 [AN] feat: 모임 수정 기능 구현
  android/app/src/main/java/com/happy/friendogly/application/di/AppModule.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/ClubStateMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/model/ClubStateDto.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/ClubRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/ClubDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/ClubState.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/ClubRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/PatchClubUseCase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/modify/ClubModifyActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/modify/ClubModifyUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/modify/ClubModifyViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/modify/bottom/ClubRecruitmentBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ApiClient.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ClubService.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/ClubStateMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/request/ClubModifyRequest.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/request/ClubStateRequest.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/ClubStateResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/ClubDataSourceImpl.kt
  android/app/src/main/res/layout/activity_club_modify.xml
  android/app/src/main/res/layout/bottom_sheet_club_recruitment.xml
  android/app/src/main/res/layout/item_club.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#499 [AN] feat: 모임 상세에서 채팅방 이동 기능 구현
  android/app/src/main/java/com/happy/friendogly/data/mapper/ClubDetailMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/model/ClubDetailDto.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/ClubDetail.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/mapper/ClubDetailMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailEvent.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailUiModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/ClubDetailMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/ClubDetailResponse.kt
Labels: 🤖 android, ✨ feat

#506 [AN] feat: 펫 편집 API 연결
  android/app/src/main/java/com/happy/friendogly/application/di/AppModule.kt
  android/app/src/main/java/com/happy/friendogly/data/mapper/ImageUpdateTypeMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/model/ImageUpdateTypeDto.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/PetRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/PetDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/ImageUpdateType.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/PetRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/PatchPetUseCase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetMessage.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ApiClient.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/PetService.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/ImageUpdateTypeDtoMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/request/ImageUpdateTypeRequest.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/request/PatchPetRequest.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/PetDataSourceImpl.kt
  android/app/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#500 [AN] feat: 설정 페이지 권한 확인 로직 구현
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingUiState.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingViewModel.kt
  android/app/src/main/res/layout/activity_setting.xml
Labels: 🤖 android, ✨ feat

#502 [AN] fix: chat club api를 이용한 memberId 로직 구현
  android/app/src/main/java/com/happy/friendogly/data/mapper/ClubChatRoomMapper.kt
  android/app/src/main/java/com/happy/friendogly/data/model/ChatRoomClubDto.kt
  android/app/src/main/java/com/happy/friendogly/domain/model/ChatRoomClub.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/ChatListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chat/ChatActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chat/ChatViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chatinfo/ChatInfoSideSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/chatinfo/ChatInfoViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailActivity.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/ChatRoomClubMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/response/ChatRoomClubResponse.kt
Labels: 🐞 bug, 🤖 android

#507 [AN] feat: 로그아웃 API 연결
  android/app/src/main/java/com/happy/friendogly/application/di/AppModule.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/AuthRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/AuthDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/AuthRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/PostLogoutUseCase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingMessage.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ApiClient.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/AuthService.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/AuthDataSourceImpl.kt
Labels: 🤖 android, ✨ feat

#473 [BE] feat: 회원 탈퇴 기능 구현
  backend/src/main/java/com/happy/friendogly/auth/repository/KakaoMemberRepository.java
  backend/src/main/java/com/happy/friendogly/member/controller/MemberController.java
  backend/src/main/java/com/happy/friendogly/member/service/MemberCommandService.java
  backend/src/main/java/com/happy/friendogly/notification/repository/DeviceTokenRepository.java
  backend/src/main/java/com/happy/friendogly/pet/repository/PetRepository.java
  backend/src/test/java/com/happy/friendogly/member/service/MemberCommandServiceTest.java
Labels: 🖥 backend, ✨ feat

#509 [BE] fix: 기본 이미지에서 새로운 이미지로 update하는 경우 예외가 발생하는 현상 수정
  backend/src/main/java/com/happy/friendogly/infra/S3StorageManager.java
Labels: 🐞 bug, 🖥 backend

#510 [AN] refactor: 클럽 ui 개선
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/adapter/DetailProfileAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mylocation/MyLocationBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mylocation/SettingMyLocationActivity.kt
  android/app/src/main/res/drawable/ripple_rect_fill12_white.xml
  android/app/src/main/res/drawable/ripple_rect_fill16_white.xml
  android/app/src/main/res/drawable/ripple_rect_fill20_white.xml
  android/app/src/main/res/drawable/ripple_rect_fill8_white.xml
  android/app/src/main/res/drawable/ripple_rect_white.xml
  android/app/src/main/res/layout/activity_club_modify.xml
  android/app/src/main/res/layout/activity_setting_my_location.xml
  android/app/src/main/res/layout/bottom_sheet_club_menu.xml
  android/app/src/main/res/layout/bottom_sheet_club_recruitment.xml
  android/app/src/main/res/layout/fragment_club_list.xml
  android/app/src/main/res/layout/include_club_filter.xml
  android/app/src/main/res/layout/include_club_not_address.xml
  android/app/src/main/res/layout/include_club_not_data.xml
  android/app/src/main/res/layout/item_club.xml
  android/app/src/main/res/layout/item_club_select_profile.xml
  android/app/src/main/res/layout/item_detail_profile.xml
Labels: 🤹 enhance, 🤖 android

#513 [AN] feat: 모임 관련 이벤트 등록
  android/app/src/main/java/com/happy/friendogly/analytics/ParamKeys.kt
  android/app/src/main/java/com/happy/friendogly/analytics/Types.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/filter/ClubFilterViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/filter/bottom/ClubFilterBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/filter/bottom/ParticipationFilterBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/menu/ClubMenuBottomSheet.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/menu/ClubMenuViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/my/MyClubActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/utils/AnalyticsHelperExtensions.kt
Labels: 🤖 android, ✨ feat

#514 [AN] feat: 프로필 편집 API 연결
  android/app/src/main/java/com/happy/friendogly/application/di/AppModule.kt
  android/app/src/main/java/com/happy/friendogly/data/error/ApiExceptionDto.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/MemberRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/MemberDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/MemberRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/PatchMemberUseCase.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingMessage.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingNavigationAction.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/utils/GlideImageBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ApiClient.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/MemberService.kt
  android/app/src/main/java/com/happy/friendogly/remote/error/ApiExceptionResponse.kt
  android/app/src/main/java/com/happy/friendogly/remote/mapper/ApiExceptionMapper.kt
  android/app/src/main/java/com/happy/friendogly/remote/model/request/PatchMemberRequest.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/MemberDataSourceImpl.kt
Labels: 🤖 android, ✨ feat

#515 [AN] feat: error handling
  android/app/src/main/java/com/happy/friendogly/data/repository/AuthRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/MemberRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/PetRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageMessage.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileMessage.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/otherprofile/OtherProfileViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterMessage.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/registerpet/RegisterPetViewModel.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/AuthDataSourceImpl.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/MemberDataSourceImpl.kt
  android/app/src/main/java/com/happy/friendogly/remote/source/PetDataSourceImpl.kt
Labels: 🤖 android, ✨ feat

#505 [BE] fix: 발자국 알림 개선
  backend/src/main/java/com/happy/friendogly/chat/controller/ChatSocketController.java
  backend/src/main/java/com/happy/friendogly/footprint/repository/FootprintRepository.java
  backend/src/main/java/com/happy/friendogly/footprint/service/FootprintCommandService.java
  backend/src/main/java/com/happy/friendogly/notification/service/FakeNotificationService.java
  backend/src/main/java/com/happy/friendogly/notification/service/FcmNotificationService.java
  backend/src/main/java/com/happy/friendogly/notification/service/NotificationService.java
  backend/src/test/java/com/happy/friendogly/footprint/repository/FootprintRepositoryTest.java
  backend/src/test/java/com/happy/friendogly/notification/service/FcmNotificationServiceTest.java
Labels: 🐞 bug, 🖥 backend

#520 [AN] 에러 해결
  android/app/src/main/java/com/happy/friendogly/presentation/ui/chatlist/ChatListFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/filter/ClubFilterViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/setting/SettingActivity.kt
  android/app/src/main/java/com/happy/friendogly/remote/api/ApiClient.kt
Labels: 🐞 bug, 🤖 android

#530 [BE] fix: 내 모임 조회 시 인원 및 모임장이 잘못 조회되는 현상 수정
  backend/src/main/java/com/happy/friendogly/club/repository/ClubRepository.java
Labels: 🐞 bug, 🖥 backend

#526 [AN] chore: v0.4.0 업데이트 및 배포
  android/gradle/libs.versions.toml
Labels: 🧦 chore, 🤖 android

#533 [AN] chore: v0.4.1 업데이트 및 배포
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterViewModel.kt
  android/gradle/libs.versions.toml
Labels: 🐞 bug, 🧦 chore, 🤖 android

#536 [AN] 산책중 상태화면 안나오는 오류 수정
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofViewModel.kt
  android/app/src/main/res/values/strings.xml
Labels: 🐞 bug, 🤖 android

#537 [AN] test: ViewModel 단위 테스트를 위한 테스트 환경 구축 및 RegisterViewModel Test
  android/app/build.gradle.kts
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterMessage.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterNavigationAction.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterViewModel.kt
  android/app/src/main/res/layout/activity_register.xml
  android/app/src/test/java/com/happy/friendogly/ExampleUnitTest.kt
  android/app/src/test/java/com/happy/friendogly/presentation/ui/register/RegisterViewModelTest.kt
  android/app/src/test/java/com/happy/friendogly/utils/CoroutinesTestExtension.kt
  android/app/src/test/java/com/happy/friendogly/utils/InstantTaskExecutorExtension.kt
  android/app/src/test/java/com/happy/friendogly/utils/LiveDataExtensions.kt
  android/gradle/libs.versions.toml
Labels: 🔎 test, 🤖 android

#546 [AN] refactor: Firebase 의존성 분리 및 파이어베이스 콜백 패턴 대신 코루틴으로 마이그레이션
  android/app/src/main/java/com/happy/friendogly/application/di/AppModule.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/MessagingRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/MessagingDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/MessagingRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetFCMTokenUseCase.kt
  android/app/src/main/java/com/happy/friendogly/firebase/analytics/AnalyticsHelper.kt
  android/app/src/main/java/com/happy/friendogly/firebase/analytics/ParamKeys.kt
  android/app/src/main/java/com/happy/friendogly/firebase/analytics/Types.kt
  android/app/src/main/java/com/happy/friendogly/firebase/crashlytics/CrashlyticsHelper.kt
  android/app/src/main/java/com/happy/friendogly/firebase/messaging/MessagingHelper.kt
  android/app/src/main/java/com/happy/friendogly/firebase/source/MessagingDataSourceImpl.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/add/ClubAddViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/filter/ClubFilterViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/list/ClubListViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/menu/ClubMenuViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/profilesetting/ProfileSettingViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/register/RegisterViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofFragment.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/woof/WoofViewModel.kt
  android/app/src/main/java/com/happy/friendogly/presentation/utils/AnalyticsHelperExtensions.kt
  android/app/src/test/java/com/happy/friendogly/presentation/ui/register/RegisterViewModelTest.kt
Labels: 🔎 test, 🛠️ refactor, 🤖 android
