Repository woowacourse-teams/2024-friendogly, pull requests merged in 2025-01, with the labels that each got.

#775 [AN] feat: 놀이터 온보딩 UI 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/happy/friendogly/application/di/DataSourceModule.kt
  android/app/src/main/java/com/happy/friendogly/application/di/DataStoreModule.kt
  android/app/src/main/java/com/happy/friendogly/application/di/RepositoryModule.kt
  android/app/src/main/java/com/happy/friendogly/data/repository/OnboardingRepositoryImpl.kt
  android/app/src/main/java/com/happy/friendogly/data/source/OnboardingDataSource.kt
  android/app/src/main/java/com/happy/friendogly/domain/repository/OnboardingRepository.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/DeleteOnboardingShownUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/GetOnboardingShownUseCase.kt
  android/app/src/main/java/com/happy/friendogly/domain/usecase/SetOnboardingShownUseCase.kt
  android/app/src/main/java/com/happy/friendogly/local/di/OnboardingModule.kt
  android/app/src/main/java/com/happy/friendogly/local/source/OnboardingDataSourceImpl.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/MainActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/playground/onboarding/OnboardingActivity.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/playground/onboarding/OnboardingAdapter.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/playground/onboarding/OnboardingFragment.kt
  android/app/src/main/res/drawable/circle_gray600.xml
  android/app/src/main/res/drawable/circle_white.xml
  android/app/src/main/res/drawable/img_onboarding1.png
  android/app/src/main/res/drawable/img_onboarding2.png
  android/app/src/main/res/drawable/img_onboarding3.png
  android/app/src/main/res/drawable/sel_onboarding_indicator.xml
  android/app/src/main/res/layout/activity_onboarding.xml
  android/app/src/main/res/layout/fragment_onboarding.xml
Labels: 🤖 android, ✨ feat

#771 [BE] FCM 알림 전송 Topic 구독 방식으로 변경
  backend/src/main/java/com/happy/friendogly/chatroom/service/ChatNotificationService.java
  backend/src/main/java/com/happy/friendogly/chatsocket/service/ChatSocketCommandService.java
  backend/src/main/java/com/happy/friendogly/config/FirebaseAppConfig.java
  backend/src/main/java/com/happy/friendogly/deveicetoken/controller/DeviceTokenController.java
  backend/src/main/java/com/happy/friendogly/deveicetoken/domain/DeviceToken.java
  backend/src/main/java/com/happy/friendogly/deveicetoken/dto/request/UpdateDeviceTokenRequest.java
  backend/src/main/java/com/happy/friendogly/deveicetoken/dto/response/UpdateDeviceTokenResponse.java
  backend/src/main/java/com/happy/friendogly/deveicetoken/repository/DeviceTokenRepository.java
  backend/src/main/java/com/happy/friendogly/deveicetoken/service/DeviceTokenCommandService.java
  backend/src/main/java/com/happy/friendogly/footprint/service/FootprintCommandService.java
  backend/src/main/java/com/happy/friendogly/footprint/service/FootprintNotificationService.java
  backend/src/main/java/com/happy/friendogly/member/service/MemberCommandService.java
  backend/src/main/java/com/happy/friendogly/notification/service/FakeNotificationService.java
  backend/src/main/java/com/happy/friendogly/notification/service/FcmNotificationService.java
  backend/src/main/java/com/happy/friendogly/notification/service/NotificationService.java
  backend/src/main/java/com/happy/friendogly/notification/service/PlaygroundNotificationService.java
  backend/src/main/java/com/happy/friendogly/playground/service/PlaygroundCommandService.java
  backend/src/main/java/com/happy/friendogly/playground/service/PlaygroundNotificationService.java
  backend/src/test/java/com/happy/friendogly/docs/DeviceTokenApiDocsTest.java
  backend/src/test/java/com/happy/friendogly/footprint/controller/FootprintControllerTest.java
  backend/src/test/java/com/happy/friendogly/footprint/service/FootprintQueryServiceTest.java
  backend/src/test/java/com/happy/friendogly/footprint/service/FootprintServiceTest.java
  backend/src/test/java/com/happy/friendogly/notification/repository/DeviceTokenRepositoryTest.java
  backend/src/test/java/com/happy/friendogly/notification/service/DeviceTokenCommandServiceTest.java
  backend/src/test/java/com/happy/friendogly/playground/service/PlaygroundCommandServiceTest.java
  backend/src/test/java/com/happy/friendogly/playground/service/PlaygroundNotificationServiceTest.java
  backend/src/test/java/com/happy/friendogly/support/ServiceTest.java
Labels: 🤹 enhance, 🛠️ refactor, 🖥 backend

#782 [BE] fix: 채팅 메시지 조회 검증 로직 제거
  backend/src/main/java/com/happy/friendogly/chatmessage/dto/request/FindMessagesByTimeRangeRequest.java
Labels: 🐞 bug, 🖥 backend

#780 [BE] refactor: 놀이터 전체조회->범위조회로 변경
  backend/src/main/java/com/happy/friendogly/playground/controller/PlaygroundController.java
  backend/src/main/java/com/happy/friendogly/playground/dto/response/FindMyPlaygroundLocationResponse.java
  backend/src/main/java/com/happy/friendogly/playground/service/PlaygroundQueryService.java
  backend/src/test/java/com/happy/friendogly/docs/PlaygroundApiDocsTest.java
  backend/src/test/java/com/happy/friendogly/playground/service/PlaygroundQueryServiceTest.java
Labels: 🛠️ refactor, 🖥 backend, ✨ feat

#783 [AN] fix: 모임 상세 예외 케이스 구현
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/common/mapper/ClubDetailMapper.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/ClubDetailBindingAdapters.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/detail/model/ClubDetailViewType.kt
  android/app/src/main/java/com/happy/friendogly/presentation/ui/club/menu/ClubMenuBindingAdapters.kt
  android/app/src/main/res/values/strings.xml
Labels: 🐞 bug, 🤖 android

#786 [AN] release: v1.1.0 업데이트
  android/gradle/libs.versions.toml
Labels: 🧦 chore, 🤖 android

#784 chore: 불필요한 actuator port 설정 제거
  backend/src/main/resources/application-prod.yml
Labels: 🧦 chore, 🖥 backend
